@import '~assets/scss/variables';
.titleSkill {
    text-align: center;
    margin-top: 6rem;
    font-size: 3rem;
    font-weight: bold;
}
.buttonSeeArticle {
  text-align: center;
}
.descriptionDopers {
    display: grid;
    grid-template-rows: auto;
    grid-row-gap: 6rem;
    margin: 0 auto;
    .titleDopers {
      font-size: 2rem;
    }
    .ligneUnderTitle {
      width: 40%;
      height: 3px;
      background: #22093a;
      margin: 25px 0 25px;
      border-radius: 8px;
    }
    .ligneUnderTitleCenter {
      width: 30%;
      height: 3px;
      background: #22093a;
      margin: 25px auto;
      border-radius: 8px;
    }
}

.firstPart {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  .text {
    text-align: left;
    p {
      text-align: justify;
      margin-top: 0.5rem;
      font-size: 1.2rem;
    }
  }
  img {
    border-radius: 25px;
  }
}

.secondPart {
  text-align: center;
  p {
    margin-top: 0.5rem;
    font-size: 1.2rem;
  }
}

.thirdPart {
  display: flex;
  justify-content: center;
  text-align: left;
  img {
    border-radius: 25px;
  }
  .text {
    p {
      margin-top: 0.5rem;
      font-size: 1.2rem;
      text-align: justify;;
    }
  }
}
/* --------------------Fin Modif Romain-------------------------  */
.title {
  position: absolute;
  top: 30%;
  left: 20%;
  color: $white-text;
  font-size: 2.5em;
  text-transform: uppercase;
  width: 60%;
  text-align: left;
}

.headerContainer {
  background-size: cover;
  height: 92vh;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;

  .overlay {
    width: 100%;
    height: 92vh;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba($main-color, 0.7);
  }

  .scrollDown {
    width: 40px;
    height: 80px;
    border-radius: 40px;
    border: 1px solid $white-text;
    position: relative;
    bottom: 25px;
    display: flex;
    justify-content: center;

    &:after {
      content: "";
      position: absolute;
      height: 5px;
      width: 5px;
      border-radius: 50%;
      background: $white-text;
      top: 15px;
      animation: move 1s ease-in alternate infinite;
    }
  }
}

@keyframes move {
  from {
    transform: translateY(0px);
    opacity: 1;
  }
  to {
    transform: translateY(40px);
    opacity: 0;
  }
}

.containerSkillsHome {
 font-size: 1.2rem;
 margin-top: 100px;
 margin-bottom: 3rem;
}
 .skill {
   cursor: pointer;
   border-radius: 8px;
   color: $white-text;
   height: 100%;
   position: relative;
  .overlayCard {
    background-color: rgba(34, 9, 58, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: 350ms ease-in;
    border-radius: 20px;
    &:hover {
      background-color: rgba(34, 9, 58, 0.7);
    }
  }
  .homeIconWrapper {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   span {
    font-size: 1.3em;
    font-weight: bold;
    letter-spacing: 1px;
    position: absolute;
    z-index: 1;
   }

   img {
    align-items:initial;
    border-radius: 20px;
    height: auto;
    width: 100%;
    position: relative;
    z-index: 0;
   }
 }
 }
 .buttonSeeArticle {
   padding: 1rem 2rem;
   background: #c2185b;
   color: white;
   border: 1px solid #c2185b;
   border-radius: 8px;
   cursor: pointer;
   box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
   font-weight: bold;
   transition: 350ms ease-in;
   text-decoration: none;
   width: 30%;
   margin: 0 auto 0 auto;

   &:hover {
     background: transparent;
     color: $attractive-color;
     letter-spacing: 3px;
   }
 }

@media screen and (min-width: 769px) and (max-width: 1024px) {
 .headerContainer {
   background-position:center 60%;
 }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
 .headerContainer {
   background-position:center center;
 }

 .skill {
   h2 {
     margin-bottom: 2rem;
   }
   p {
     font-size: 1rem;
   }
 }

 .buttonSeeArticle {
   margin: 2rem auto 0 auto;
 }
}
@media screen and (max-width: 425px) {
 .title {
   font-size: 1.7em;
   left: 10%;
 }
 .headerContainer {
   background-position:center center;
 }
 .skill {
   h2 {
     margin-bottom: 1rem;
     font-size: 1.4rem;
   }
   img {
     width: 40px;
     height: 40px;
   }
 }

 .buttonSeeArticle {
   width: 70%;
 }

.firstPart, .secondPart, .thirdPart {
  flex-direction: column;
  .text, img {
    width: 100%;
    margin-top: 25px;
  }
}
}