<template>
  <div class="containCart">
    <div
      v-if="listCartItems.items.length"
      class="cart"
    >
      <div
        v-for="(item, index) in listCartItems.items"
        :key="index"
        class="itemCart"
      >
        <img
          class="imgItem"
          src="~/assets/img/ux-ui-designer.jpg"
        >
        <div class="infoItems">
          <p>
            <span class="itemQuantity">{{ item.quantity }}x</span>
            <span class="itemName">{{ item.name }}</span>
          </p>
          <span class="itemPrice">{{ roundNumber(item.price * item.quantity, 2) }} €</span>
        </div>
      </div>
      <div class="containTotalPrice">
        <span>Prix Total TTC : </span><span>{{ listCartItems.totalPrice }} €</span>
      </div>
      <div
        class="orderBtn"
        @click="animateIcon"
      >
        <svg
          id="icon-cart"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 100.31 47.82"
          :class="animationCart ? 'animatedCart' : ''"
        >
          <g>
            <circle
              cx="18.95"
              cy="44.14"
              r="2.18"
            />
            <circle
              cx="42.95"
              cy="44.14"
              r="2.18"
            />
            <path
              d="M1.5,1.5h8.73l5.85,29.21a4.36,4.36,0,0,0,4.36,3.51H41.65A4.36,4.36,0,0,0,46,30.71L49.5,12.41H12.41"
            />
            <rect
              id="package-cart"
              x="60"
              y="45"
              width="16"
              height="8"
              :class="animationCart ? 'animatedPackage' : ''"
            />
          </g>
        </svg>
        Commander
      </div>
    </div>
    <div
      v-else
      class="panierOff"
    >
      <svg
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px"
        y="0px"
        viewBox="0 0 368 368"
        xml:space="preserve"
      >
        <path
          d="M184,0C82.544,0,0,82.544,0,184s82.544,184,184,184c101.464,0,184-82.544,184-184S285.464,0,184,0z M184,352
        c-92.64,0-168-75.36-168-168S91.36,16,184,16c92.632,0,168,75.36,168,168S276.632,352,184,352z"
        />
        <path
          d="M144,152c0-13.232-10.768-24-24-24s-24,10.768-24,24s10.768,24,24,24S144,165.232,144,152z M112,152c0-4.408,3.592-8,8-8
        s8,3.592,8,8s-3.592,8-8,8S112,156.408,112,152z"
        />
        <path
          d="M248,128c-13.232,0-24,10.768-24,24s10.768,24,24,24s24-10.768,24-24S261.232,128,248,128z M248,160
        c-4.416,0-8-3.592-8-8s3.584-8,8-8c4.416,0,8,3.592,8,8S252.416,160,248,160z"
        />
        <path
          d="M184,224c-29.824,0-58.24,12.632-77.96,34.664c-2.944,3.296-2.664,8.352,0.624,11.296
        c3.296,2.952,8.352,2.664,11.296-0.624C134.648,250.688,158.72,240,184,240c25.28,0,49.352,10.688,66.04,29.336
        c1.576,1.768,3.768,2.664,5.96,2.664c1.896,0,3.816-0.672,5.336-2.04c3.288-2.944,3.568-8,0.624-11.296
        C242.24,236.64,213.832,224,184,224z"
        />
      </svg>
      <span>Le panier est vide</span>
    </div>
  </div>
</template>

<script>
import { roundAccurately } from '~/utils/round.js';

export default {
  name: 'Cart',
  components: {},
  data: function () {
    return {
      animationCart: false
    };
  },

  computed: {
    listCartItems: function () {
      return this.$store.getters['cart/list'];
    }
  },
  mounted () {
    this.$store.dispatch('cart/fetch');
  },

  /* async mounted () {
    await this.$store.dispatch('blog/getTop4');
  }, */
  methods: {
    animateIcon () {
      this.animationCart = true;
      setTimeout(() => {
        this.animationCart = false;
      }, 5000);
    },
    roundNumber (number, decimal) {
      return roundAccurately(number, decimal);
    }
  }
};

</script>

<style lang="scss" scoped>
@import "~assets/scss/components/cart.scss";
</style>
