<template>
  <div class="containFooter">
    <div class="containLogo">
      <img
        ref="imgLogo"
        src="~/assets/img/logo-256.png"
        alt="logo"
        class="imgLogo"
        @click="goToHome"
      >
      <p class="copyright">
        © 2020 Dopa Tech<br>
        Développeur web junior Toulouse
      </p>
    </div>
    <div class="containNav">
      <nav class="footerMenu">
        <nuxt-link
          class="footerLink"
          to="/contact"
        >
          Contact
        </nuxt-link>
        <nuxt-link
          class="footerLink"
          to="/plan-du-site"
          rel="nofollow noreferrer noopener"
        >
          Plan du site
        </nuxt-link>
        <nuxt-link
          class="footerLink"
          to="/mentions-legales"
          rel="nofollow noreferrer noopener"
        >
          Mentions légales
        </nuxt-link>
      </nav>
      <div class="mediaIconsLogo">
        <a
          href="https://www.facebook.com/Dopa-Tech-104941904481833/"
          rel="nofollow noreferrer noopener"
          target="_blank"
        >
          <img
            src="~assets/img/facebook.png"
            alt="Facebook Icon"
            title="Facebook Icon"
          >
        </a>
        <a
          href="https://twitter.com/Dopa_Tech"
          rel="nofollow noreferrer noopener"
          target="_blank"
        >
          <img
            src="~assets/img/twitter.png"
            alt="Twitter Icon"
            title="Twitter Icon"
          >
        </a>
        <a
          href="https://www.linkedin.com/company/38161337/"
          rel="nofollow noreferrer noopener"
          target="_blank"
        >
          <img
            src="~assets/img/linkedin.png"
            alt="Linkedin Icon"
            title="Linkedin Icon"
          >
        </a>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  methods: {
    goToHome () {
      this.$router.push('/');
    }
  }
};
</script>

<style lang="scss" scoped>
@import "~assets/scss/components/footer.scss";
</style>
