<template>
  <div
    ref="navbar"
    class="containNavbar"
  >
    <div class="containLogo">
      <img
        ref="imgLogo"
        src="~/assets/img/logo-256.png"
        alt="logo"
        @click="goToHome"
      >
    </div>
    <div
      ref="navBarContainItem"
      class="containMenu"
    >
      <nav>
        <div
          v-for="(item, index) in menus.items"
          :key="item.label+'_'+index"
          class="containItemGlobal"
          @mouseenter="menus.itemsHover[item.hoverPropery] = true;"
          @mouseleave="menus.itemsHover[item.hoverPropery] = false;"
        >
          <div
            class="containItem"
          >
            <nuxt-link
              :to="item.url"
              :class="item.classes"
            >
              {{ item.label }}
            </nuxt-link>
            <div
              v-if="!(item.classes.find(elem => elem === 'contactItem'))"
              class="subMenuIcon"
            />
          </div>
          <transition
            v-show="menus.itemsHover[item.hoverPropery]"
            name="slide-submenu"
          >
            <sub-menu
              v-show="menus.itemsHover[item.hoverPropery]"
              class="subMenuTrigger"
              :sub-menu-items="item.subMenuItems"
              :window-size="userClientWidth"
            />
          </transition>
        </div>
      </nav>
    </div>
    <div class="containIcon">
      <div class="containMenuIconMobile">
        <div
          class="containBar"
          @click="toggleMenu"
        >
          <div
            ref="bar1"
            class="bar1"
          />
          <div
            ref="bar2"
            class="bar2"
          />
          <div
            ref="bar3"
            class="bar3"
          />
        </div>
      </div>
      <div class="containUserIcon">
        <div
          id="cartIcon"
          @mouseenter="cartHover = true"
          @mouseleave="cartHover = false"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 50.31 47.82"
          >
            <g>
              <circle
                style="fill:none;stroke:#2a2a31;stroke-linecap:round;stroke-miterlimit:10;stroke-width:3px;"
                cx="18.95"
                cy="44.14"
                r="2.18"
              />
              <circle
                style="fill:none;stroke:#2a2a31;stroke-linecap:round;stroke-miterlimit:10;stroke-width:3px;"
                cx="42.95"
                cy="44.14"
                r="2.18"
              />
              <path
                style="fill:none;stroke:#2a2a31;stroke-linecap:round;stroke-miterlimit:10;stroke-width:3px;"
                d="M1.5,1.5h8.73l5.85,29.21a4.36,4.36,0,0,0,4.36,3.51H41.65A4.36,4.36,0,0,0,46,30.71L49.5,12.41H12.41"
              />
              <rect
                v-if="$store.getters['cart/list'].items.length"
                style="fill:#ea3970;"
                x="25"
                y="20"
                width="16"
                height="8"
              />
            </g>
          </svg>
          <div class="infosUser">
            {{ $store.getters['cart/list'].totalPrice }} €
          </div>
          <transition
            name="slide-submenu"
          >
            <Cart
              v-show="cartHover"
            />
          </transition>
        </div>
        <div id="accountIcon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512"
            width="512"
            height="512"
          ><path d="M269.909,443.1a7.955,7.955,0,0,1,1.925-8.187l15.57-15.57q-.731-1.661-1.39-3.341H264a8,8,0,0,1-8-8V360a8,8,0,0,1,8-8h22.014q.658-1.68,1.39-3.341l-15.57-15.57a8,8,0,0,1,0-11.314l33.941-33.942a8,8,0,0,1,11.315,0l15.57,15.571q1.662-.731,3.341-1.391V280a8,8,0,0,1,6.038-7.748C310.956,231.239,265.753,208,216,208c-45.522,0-87.578,19.485-118.421,54.865-31.062,35.633-48.565,85.3-49.536,140.291C66.407,412.417,141.812,448,216,448A310.493,310.493,0,0,0,269.909,443.1Z" /><circle
            cx="368"
            cy="384"
            r="16"
          /><circle
            cx="216"
            cy="112"
            r="80"
          /><path d="M325.354,318.727,311.432,304.8,288.8,327.432l13.923,13.922a8,8,0,0,1,1.433,9.362A71.682,71.682,0,0,0,299.3,362.4a8,8,0,0,1-7.633,5.6H272v32h19.668a8,8,0,0,1,7.633,5.6,71.682,71.682,0,0,0,4.859,11.681,8,8,0,0,1-1.433,9.362L288.8,440.568,311.432,463.2l13.922-13.923a8,8,0,0,1,9.362-1.433,71.781,71.781,0,0,0,11.68,4.86,8,8,0,0,1,5.6,7.632V480h32V460.332a8,8,0,0,1,5.6-7.632,71.781,71.781,0,0,0,11.68-4.86,8,8,0,0,1,9.362,1.433L424.568,463.2,447.2,440.568l-13.923-13.922a8,8,0,0,1-1.433-9.362A71.682,71.682,0,0,0,436.7,405.6a8,8,0,0,1,7.633-5.6H464V368H444.332a8,8,0,0,1-7.633-5.6,71.682,71.682,0,0,0-4.859-11.681,8,8,0,0,1,1.433-9.362L447.2,327.432,424.568,304.8l-13.922,13.923a8,8,0,0,1-9.362,1.433,71.781,71.781,0,0,0-11.68-4.86,8,8,0,0,1-5.6-7.632V288H352v19.668a8,8,0,0,1-5.6,7.632,71.781,71.781,0,0,0-11.68,4.86A8,8,0,0,1,325.354,318.727ZM368,352a32,32,0,1,1-32,32A32.036,32.036,0,0,1,368,352Z" />
          </svg>
          <div class="infosUser">
            {{ $store.state.auth.user ? $store.state.auth.user.firstName : 'Se connecter' }}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { menusTop } from '@/data/subMenus.js';
import SubMenu from '~/components/skeleton/SubMenu.vue';
import Cart from '~/components/skeleton/Cart.vue';

export default {
  components: {
    'sub-menu': SubMenu,
    Cart
  },
  data: function () {
    return {
      scroll: 0,
      menusTop: menusTop,
      userClientWidth: 0,
      menus: {},
      cartHover: false
    };
  },
  watch: {
    $route (to, from) {
      if (window.innerWidth <= 768) {
        this.$refs.navBarContainItem.style.transform = 'translateY(-100%)';
        this.$refs.bar2.style.transform = 'translateX(0%)';
        this.$refs.bar2.style.opacity = 1;
        this.$refs.bar1.style.transform = 'rotate(0)';
        this.$refs.bar3.style.transform = 'rotate(0)';
      }
    }
  },
  created () {
    if (process.browser) {
      window.addEventListener('scroll', this.handleScroll);
      window.addEventListener('resize', this.resizeNav);
      this.userClientWidth = window.innerWidth;
      this.body = document.getElementsByTagName('body')[0];
      this.menus = this.menusTop;
    }
  },
  destroyed () {
    if (process.browser) {
      window.removeEventListener('scroll', this.handleScroll);
      window.removeEventListener('resize', this.resizeNav);
    }
  },
  methods: {
    toggleMenu () {
      if (
        !this.$refs.navBarContainItem.style.transform ||
        this.$refs.navBarContainItem.style.transform === 'translateY(-200%)'
      ) {
        this.body.style.overflow = 'hidden';
        this.$refs.navBarContainItem.style.transform = 'translateY(0)';
        this.$refs.bar2.style.transform = 'translateX(200%)';
        this.$refs.bar2.style.opacity = 0;
        this.$refs.bar1.style.transform = 'rotate(45deg)';
        this.$refs.bar3.style.transform = 'rotate(-45deg)';
      } else {
        this.body.style.overflow = 'visible';
        this.$refs.navBarContainItem.style.transform = 'translateY(-200%)';
        this.$refs.bar2.style.transform = 'translateX(0%)';
        this.$refs.bar2.style.opacity = 1;
        this.$refs.bar1.style.transform = 'rotate(0)';
        this.$refs.bar3.style.transform = 'rotate(0)';
      }
    },
    resizeNav () {
      if (window.innerWidth <= 768 && this.userClientWidth > 768) {
        this.toggleMenu();
      } else if (window.innerWidth > 768) {
        this.$refs.navBarContainItem.style.transform = 'translateY(0%)';
      }
      this.userClientWidth = window.innerWidth;
    },
    goToHome () {
      this.$router.push('/');
    },
    handleScroll () {
      if (window.scrollY > 250) {
        this.$refs.imgLogo.style.width = '80px';
        this.$refs.navbar.style.height = '80px';
      } else {
        if (window.innerWidth > 1024) {
          this.$refs.navBarContainItem.style.top = '90px';
          this.$refs.imgLogo.style.width = '150px';
          this.$refs.navbar.style.height = '90px';
        } else if (window.innerWidth >= 768 && window.innerWidth <= 1024) {
          this.$refs.navBarContainItem.style.top = '90px';
          this.$refs.imgLogo.style.width = '100px';
          this.$refs.navbar.style.height = '90px';
        } else if (window.innerWidth <= 425) {
          this.$refs.imgLogo.style.width = '80px';
          this.$refs.navbar.style.height = '80px';
          this.$refs.navBarContainItem.style.top = '80px';
        }
      }
      if (this.scroll > window.scrollY) {
      }
      this.scroll = window.scrollY;
    }
  }
};
</script>
<style lang="scss" scoped>
@import "~assets/scss/components/navbar.scss";
</style>
