<template>
  <div class="containPreFooter">
    <span class="titlePreFooter">Envie de travailler avec nous ?</span>
    <p class="textePreFooter">
      Pain au chocolat ou chocolatine, c'est avec plaisir que nous vous
      accueillerons afin de mener à bien vos projets les plus fous.
    </p>
    <div class="containPreFooterButton">
      <nuxt-link
        to="/"
        class="buttonPreFooter"
      >
        Découvrez-nous
      </nuxt-link>
      <nuxt-link
        to="/contact"
        class="buttonPreFooter"
      >
        Contactez-nous
      </nuxt-link>
    </div>
  </div>
</template>
<script></script>
<style lang="scss" scoped>
@import "~assets/scss/components/preFooter.scss";
</style>
