<template>
  <div
    ref="buttonScrollTo"
    class="buttonScrollTo"
    @click="scrollTop"
  >
    <img
      src="~assets/img/top.png"
      alt="fleche vers le haut permettant de remonter en haut de la page"
      title="fleche vers le haut"
    >
  </div>
</template>
<script>
export default {
  data: function () {
    return {
      scroll: 0
    };
  },
  created () {
    if (process.browser) {
      window.addEventListener('scroll', this.handleScroll);
    }
  },
  destroyed () {
    if (process.browser) {
      window.removeEventListener('scroll', this.handleScroll);
    }
  },
  methods: {
    handleScroll () {
      if (window.scrollY > 500) {
        this.$refs.buttonScrollTo.style.opacity = 1;
        this.$refs.buttonScrollTo.style.transform = 'translateY(0)';
      } else {
        this.$refs.buttonScrollTo.style.opacity = 0;
        this.$refs.buttonScrollTo.style.transform = 'translateY(40%)';
      }
    },
    scrollTop () {
      window.scroll({
        top: 0,
        left: 0,
        behavior: 'smooth'
      });
    }
  }
};
</script>
<style lang="scss" scoped>
@import "~assets/scss/components/scrollToTop.scss";
</style>
