<template>
  <div class="subMenuContainer">
    <div class="containSubMenuItems row">
      <div
        v-for="(value, property, index) in subMenuItems"
        :key="property+'_'+index"
        class="cl-xs-1-2 cl-md-1-2 cl-gap subMenuItems"
      >
        <div v-if="windowSize < 768 && index < 2">
          <span v-if="value.label">{{ value.label }}</span>
          <span v-else>Sous menus</span>
          <ul
            :class="value.styleSpecial ? 'importantList' : ''"
          >
            <li
              v-for="(item, indexSubItems) in value.items"
              :key="property+'_'+indexSubItems+'_'+item.name"
              class="itemMenu"
            >
              <nuxt-link :to="item.url">
                {{ item.name }}
              </nuxt-link>
            </li>
          </ul>
        </div>
        <div v-else-if="windowSize >= 768">
          <span v-if="value.label">{{ value.label }}</span>
          <span v-else>Sous menus</span>
          <ul
            :class="value.styleSpecial ? 'importantList' : ''"
          >
            <li
              v-for="(item, indexSubItems) in value.items"
              :key="property+'_'+indexSubItems"
              class="itemMenu"
            >
              <nuxt-link :to="item.url">
                {{ item.name }}
              </nuxt-link>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ['subMenuItems', 'windowSize']
};
</script>

<style lang="sass" scoped>
@import "~assets/scss/components/subMenu.scss";
</style>
