
@import '~assets/scss/variables';
.dataAnnonceContainer {
  padding-left: 0;
  li {
    list-style: none;
    font-size: 1.3rem;
  }
}

.containJob {
  margin-top: 200px;
  width: 100%;

  .containHeaderJob {
    display: flex;
    position: relative;
    min-height: 150px;
    padding-left: 50px;
    width: 100%;

    &:after {
      content: '';
      left: 0;
      top: 0;
      width: 1px;
      height: 100%;
      background: $main-color;
      position: absolute;

    }

    .leftPart {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      .titleJob {
        font-size: 2em;
        color: $main-color;
      }
      .dateJob {
        color: rgba($black-text, 0.8);
        font-weight: bold;
      }
      .secondTitle {
        font-size: 1.3em;
        font-weight: bold;
        text-align: left;
        margin-top: 15px;
        display: flex;
        align-items: center;
        img {
          width: 25px;
          height: 30px
        }
        .jobTopInfo {
          color: $attractive-color;
          margin-left: 5px;
        }
      }
    }
  }

  .buttonToApply {
    margin-top: 100px;
    width: 100%;
    a {
      text-decoration: none;
      color: $white-text;
      width: 100%;
      border-radius: 8px;
      background: $attractive-color;
      border: 1px solid $attractive-color;
      color: $white-text;
      transition: 350ms ease-in;
      box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
      padding: 30px;
      font-size: 1.5em;
      letter-spacing: 1px;
      &:hover {
        background: $white-text;
        color: $attractive-color;
        border: 1px solid $white-text;
      }
    }
  }

  .containJobContent {
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: left;
    h2, p {
      margin-top: 25px;
    }
  }
}

@media screen and (max-width: 375px) {
  .containJob {
    .buttonToApply {
      a {
        font-size: 1em;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .containJob {
    .containHeaderJob{
      .leftPart {
        .secondTitle {
          text-align: center;
        }
      }
    }
    .containJobContent {
      text-align: center;
    }
  }
  .dataAnnonceContainer {
    li {
      flex-direction: column;
      text-align: center;
    }
  }
}