
@import '~assets/scss/variables';
.headerText {
  width: 80%;
  margin-top: 30px;
}
.containJobs {
  margin-top: 4rem;
  width: 100%;
}
.containContentJob {
  display: flex;
  line-height: 2rem;
  margin-top: 25px;
  .containLogoJob {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
  }
  .containInfoJob {
    padding: 1rem;
    width: 60%;
    h2 {
      color: #c2185b;
      text-decoration: underline;
      text-align: left;
    }
    ul {
      padding-left: 0px;
      li {
        list-style: none;
        text-align: left;
        display: flex;
        align-items: center;
        img {
          width: 20px;
          height: 20px;
          margin-right: 5px;
        }
      }
    }
    .jobEnterpriseName {
      font-weight: bold;
    }
  }
}
.job {
  cursor: pointer;
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

@media screen and (max-width: 768px) {
.containContentJob {
  flex-direction: column;
  .containLogoJob {
    width: 100%;
  }
  .containInfoJob {
    width: 100%;
    h2 {
      color: #c2185b;
      text-decoration: underline;
    }
    ul {
      li {
        img {
          width: 22px;
          height: 20px;
        }
      }
    }
    .jobEnterpriseName {
      font-weight: bold;
    }
  }
}
}

.job
{
  .containContentJob {
    .titleJob {
      width: 100%;
      font-size: 20px;
    }
  }
}