.container {
    width: 95%;
    margin: auto;
}

.container-fluid {
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.cl-xs-1-1 {
    width: 100%;
}

.cl-xs-1-2 {
    width: 50%;
}

.cl-gap {
    margin-top: 10px;
}

@media (min-width: 425px) {
    .container {
        width: 85%;
    }    
}

@media (min-width: 768px) {
    .cl-gap {
        margin: 10px;
    }
    
    .cl-md-1-1 {
        width: 100%;
    }
    
    .cl-md-1-2 {
        width: calc(50% - 20px);
    }  
    
    .cl-md-1-3 {
        width: calc(33.3333% - 20px);
    }
}

@media (min-width: 1025px) {
    .container {
        width: 80%;
    }  

    .cl-lg-1-1 {
        width: 100%;
    }
    
    
    .cl-lg-1-2 {
        width: calc(50% - 20px);
    }
    
    .cl-lg-1-3 {
        width: calc(33.3333% - 20px);
    }

    .cl-lg-1-4 {
        width: calc(25% - 20px);
    }
    
    .cl-lg-1-5 {
        width: calc(20% - 20px);
    }
}

@media (min-width: 1360px) {
    .container {
        width: 75%;
    }  

    .cl-xl-1-1 {
        width: 100%;
    }
    
    .cl-xl-1-2 {
        width: calc(50% - 20px);
    }
    
    .cl-xl-1-3 {
        width: calc(33.3333% - 20px);
    }

    .cl-xl-1-4 {
        width: calc(25% - 20px);
    }
    
    .cl-xl-1-5 {
        width: calc(20% - 20px);
    }
}