$main-color: #22093a;
$second-color: #42497B;
$attractive-color: #c2185b;
$fourth-color: #FE709F;
$fifth-color: #56445D;
$black-text: #303030;
$white-text: #ffffff;
$background-color-less-white: #f2f2f2;