@import '~assets/scss/variables';

.containCart {
    position: absolute;
    top: 80px;
    width: 500px;
    right: 0;
    background: $white-text;
    z-index: 1;
    padding: 15px;
    border-radius: 4px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

    .cart {
        .itemCart {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            margin-top: 10px;

            &:first-of-type {
                margin-top: 0;
            }

            .imgItem {
                width: 50px;
                height: 50px;
            }
            .infoItems {
                width: calc(100% - 50px - 15px);
                display: flex;
                justify-content: space-between;

                .itemPrice {
                    font-weight: bold;
                }
            }    
        }

        .containTotalPrice {
            padding-top: 25px;
            padding-bottom: 25px;
            border-top: 1px solid $attractive-color;
            border-bottom: 1px solid $attractive-color;
            margin-top: 25px;
            display: flex;
            justify-content: space-between;

            span {
                &:last-of-type {
                    color: $attractive-color;
                    font-weight: bold;
                    font-family: 'Spartan' serif;
                }
            }
        }

        .orderBtn {
            padding: 15px;
            cursor: pointer;
            background: $attractive-color;
            margin: 10px auto 0;
            width: 50%;
            color: $white-text;
            border-radius: 4px;
            font-weight: bold;
            font-size: 1.1em;
            letter-spacing: 1px;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
            transition: 350ms ease-in;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;

            &:hover {
                background: transparent;
                color: $attractive-color;
                
                svg {
                    stroke: $black-text;
                    
                    circle, path {
                        stroke: $black-text;
                    }

                    rect {
                        fill: $attractive-color;
                        stroke: $attractive-color;
                    }
                    
                }
            }

            .animatedCart {
                -webkit-animation-name: sliding;
                animation-name: sliding;
                -webkit-animation-duration: 2s;
                animation-duration: 500ms;
                animation-delay: 0.35s;
                animation-fill-mode: forwards;
                -webkit-animation-timing-function: cubic-bezier(0.42, 0, 0.04, 1.04);
                animation-timing-function: cubic-bezier(0.42, 0, 0.04, 1.04);
            }

            .animatedPackage {
                animation: goToCart 350ms cubic-bezier(0.42, 0, 0.04, 1.04) forwards;
            }
            
            @keyframes goToCart {
                0% {
                    transform: translate(0px, 0px);
                }
                50% {
                    transform: translate(-35px, -50px);
                }
                100% {
                    transform: translate(-35px, -25px);
                }
            }

            @keyframes sliding {
                0% {
                    -webkit-transform: rotate(10deg);
                    transform: rotate(10deg);
                }

                50% {
                    -webkit-transform: rotate(40deg);
                    transform: rotate(40deg);
                }

                75% {
                    -webkit-transform: rotate(40deg);
                    transform: rotate(40deg);
                    -webkit-animation-timing-function: linear;
                    animation-timing-function: linear;
                }

                100% {
                    transform: translateX(300px);
                }
            }

            svg {
                width: 64px;
                height: 64px;
                transition: 350ms ease-in;

                circle {
                    fill:none;
                    stroke:white;
                    stroke-linecap:round;
                    stroke-miterlimit:10;
                    stroke-width:3px;
                }

                path {
                    fill:none;
                    stroke:white;
                    stroke-linecap:round;
                    stroke-width: 3px;
                    stroke-miterlimit:10;
                }

                rect {
                    fill: white;
                }
            }
        }
    }

    .panierOff {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        height: 200px;


        @keyframes animSvgCartSmiley {
            to {
                transform: rotate(180deg);
                fill: $attractive-color;
            }
        }

        svg {
            width: 48px;
            height: 48px;
            transition: 1s ease-in;
            animation: animSvgCartSmiley 350ms 350ms linear forwards;
        }
        

        span {
            font-size: 20px;
            font-family: 'Spartan';
            font-weight: bold;
        }
    }    
}

@media screen and (max-width: 1024px) {
    .containCart {
        top: 80px;
    }
}

@media screen and (max-width: 500px) {
    .containCart {
        width: 100%;
    }
}         
