
@import '~assets/scss/variables';
.containFooter {
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: $attractive-color;

  .containLogo {
    width: 35%;
    display: flex;
    align-items: center;

    .imgLogo {
      width: 100px;
      cursor: pointer;
    }

    .copyright {
      margin-left: 25px;
    }
  }

  .containNav {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    .footerMenu {
      width: 100%;
      display: flex;
      justify-content: space-between;

      .nuxt-link-exact-active {
        color: $attractive-color!important;
        letter-spacing: 1px;

        &:before {
          position: absolute;
          content: '';
          bottom: -5px;
          left: 0;
          height: 2px;
          width: 100%;
          background: $attractive-color;
          transition: 350ms ease-in;
        }
      }

      .footerLink {
        text-decoration: none;
        font-weight: bold;
        transition: 350ms ease-in;
        position: relative;
        color: $main-color;

        &:after {
          position: absolute;
          content: '';
          bottom: -5px;
          left: 0;
          height: 2px;
          width: 0%;
          background: $attractive-color;
          transition: 350ms ease-in;
        }

        &:hover {
          color: $attractive-color;
          letter-spacing: 1px;

          &:after {
            width: 100%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .containFooter {
    flex-direction: column;
    height: 150px;
    width: 90%;
    margin: 0 auto;

    .containLogo {
      width: 100%;
    }

    .containNav {
      width: 100%;
      .footerMenu {
        flex-direction: column;
        padding-bottom: 15px;
        .footerLink {
          margin-top: 15px;
        }
      }
    }
  }
}