
@import '~assets/scss/variables';
.containNavbar {
  display: flex;
  background: $white-text;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  position: fixed;
  width: 100%;
  height: 90px;
  transition: 350ms ease-in;
  z-index: 2;

  .containLogo {
      width: 20%;
      display: flex;
      align-items: center;
      justify-content: center;
      background: $white-text;
    img {
      width: 150px;
      transition: 350ms ease-in;
      cursor: pointer;
    }
  }

  .containMenu {
    width: 65%;
    background: $white-text;
    transition: 350ms ease-in;
    nav {
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 100%;
    }

    .containItemGlobal {
      height: 100%;
    }

    .containItem {
      height: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
    }

    .subMenuIcon {
      width: 0; 
      height: 0; 
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-bottom: 20px solid $attractive-color;
      transition: 350ms ease-in;
      opacity: 0;
      position: absolute;
      bottom: 0;
      z-index: 1;
    }

    .containItemGlobal:hover {

      .linkItem {
        color: $attractive-color;
      }

      .contactItem {
        background: $attractive-color;
        color: $white-text;
      }

      .subMenuIcon {
        opacity: 1;
      }
    }

    .nuxt-link-exact-active + .subMenuIcon {
      opacity: 1;
    }

    .contactItem {
      text-decoration: none;
      font-weight: bold;
      border: 1px solid $attractive-color;
      padding: 15px;
      border-radius: 8px;
      color: $attractive-color;
      background: transparent;
      transition: 350ms ease-in;
    }

    .nuxt-link-exact-active.contactItem {
      background: $attractive-color;
      color: $white-text!important;
    }

    .nuxt-link-exact-active {
      color: $attractive-color!important;
    }

    .linkItem {
      text-decoration: none;
      font-weight: bold;
      transition: 350ms ease-in;
      position: relative;
      color: $main-color;      
    }
  }

  .containMenuIconMobile {
    display: none;

    .containBar {
      width: 3rem;
      height: 2.2rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  }
    .bar1, .bar2, .bar3 {
      width: 3rem;
      height: 0.25rem;
      background: $main-color;
      border-radius: 20%;
      cursor: pointer;
      transition: 350ms ease-in;
      transform-origin: 1px;
    }
  }

  .containIcon {
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    background: $white-text;

    .containUserIcon {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      svg {
        width: 40px;
        height: 40px;
        cursor: pointer;
        transition: 350ms ease-in;
      }

      #cartIcon {
        margin-right: 30px;
      }

      #accountIcon {
        svg {
          fill: $attractive-color;
          stroke: $attractive-color;
        }
      }

      #cartIcon, #accountIcon {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;

        &:hover {
          svg {
            animation: vroum 500ms ease-in;
          }
          .infosUser {
            color: $black-text;
          }
        }

        .infosUser {
          font-size: 0.8em;
          width: 100%;
          font-weight: bold;
          color: rgba($black-text, 0.7);
          margin-top: 5px;
          text-align: center;
          cursor: pointer;
          transition: 350ms ease-in;
        }
      }
      @keyframes vroum {
        20%, 60% {
          transform: translateX(-2px) rotate(-20deg);
        }
        0%, 45%, 80% {
          transform: translateX(2px) rotate(20deg);
        }
        100% {
          transform: translate(0) rotate(0deg);
        }
      }      
    }
  }
}

@media screen and (max-width: 1024px) {
 .containNavbar {
   justify-content: space-around;
   height: 80px;

   .containLogo {
      z-index: 1;

      img {
        width: 100px;
      }
    }

    .containIcon {
      width: 55%;
      justify-content: space-around;

      svg {
        z-index: 1;
      }
    }

   .containMenu {
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    top: 80px;
    left: 0;
    transform: translateY(-200%);
    nav {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      padding: 15px;
    }

    .containItemGlobal {
      margin-top: 20px;
      height: auto;
      width: 100%;
      text-align: left;
      position: relative;
      padding-left: 15px;
      border-top: 1px solid $black-text;
      padding-top: 25px;

      &:first-of-type {
        border-top: unset;
      }

      .containItem {
        position: relative;
        justify-content: flex-start;
        align-items: flex-start;
        .subMenuIcon {
          bottom: unset;
          z-index: 0;
          left: -15px;
          border-top: 10px solid transparent;
          border-bottom: 10px solid transparent;
          border-right: unset;
          border-left: 10px solid $attractive-color;
        }
      }
    }

    .linkItem  {
      font-size: 1.2em;
      font-weight: bold;
    }

  }
  .containMenuIconMobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
}
}

@media screen and (max-width: 425px) {
   .containNavbar {

   .containLogo {

      img {
        width: 80px;
      }
    }
    
    .containIcon {
      width: 60%;
      justify-content: space-around;

      .containUserIcon {
        svg {
          z-index: 1;
        }

        #cartIcon {
          margin-right: 15px;
        }
      }
    }

    .containItemGlobal {
      margin-top: 10px!important;
      border-top: 1px solid $black-text;
      padding-top: 15px;

      &:first-of-type {
        border-top: unset;
      }
    }

   .containMenu {
    .linkItem  {
      font-size: 1em;
    }
  }
  .containMenuIconMobile {
    .containBar {
      width: 2rem;
      height: 1.2rem;
  }
    .bar1, .bar2, .bar3 {
      width: 2rem;
      height: 0.15rem;
      background: $main-color;
      border-radius: 20%;
      cursor: pointer;
      transition: 350ms ease-in;
      transform-origin: 4px;
    }
  }
}
}

@media screen and (orientation: landscape) and (max-width: 1024px) {
  .containNavbar {
    justify-content: space-around;
    height: 80px;
 
    .containLogo {
       z-index: 1;
 
       img {
         width: 100px;
       }
     }

    .containIcon {
      width: 40%;
      justify-content: space-around;

      svg {
        z-index: 1;
      }
    }
 
    .containMenu {
     position: absolute;
     width: 100%;
     height: 100vh;
     overflow-y: scroll;
     top: 80px;
     left: 0;
     transform: translateY(-200%);
     nav {
       flex-direction: column;
       justify-content: flex-start;
       align-items: flex-start;
       padding: 15px;
     }
 
     .containItemGlobal {
       margin-top: 30px;
       height: auto;
       width: 100%;
       text-align: left;
       position: relative;
       padding-left: 15px;
 
       .containItem {
         position: relative;
         justify-content: flex-start;
         align-items: flex-start;
         .subMenuIcon {
           bottom: unset;
           z-index: 0;
           left: -15px;
           border-top: 10px solid transparent;
           border-bottom: 10px solid transparent;
           border-right: unset;
           border-left: 10px solid $attractive-color;
         }
       }
     }
 
     .linkItem  {
       font-size: 1.2em;
       font-weight: bold;
     }
 
   }
   .containMenuIconMobile {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     z-index: 1;
   }
 }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
 .containNavbar {
   height: 100px;
}
}