@import '~assets/scss/variables';

.containPreFooter {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    .titlePreFooter {
        font-size: 2em;
        font-weight: bold;
        color: $main-color;
    }

    .textePreFooter {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .containPreFooterButton {
      display: flex;
      justify-content: space-between;
      .buttonPreFooter {
          padding: 10px;
          background: $attractive-color;
          color: white;
          border: 1px solid $attractive-color;
          border-radius: 8px;
          cursor: pointer;
          box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
          font-weight: bold;
          transition: 350ms ease-in;
          text-decoration: none;
          width: 40%;

          &:hover {
          letter-spacing: 2px;
          background: $white-text;
          color: $attractive-color;
          }
      }
    }
}