
@import '~assets/scss/variables';
.buttonScrollTo {
  opacity: 0;
  width: 60px;
  height: 60px;
  position: fixed;
  bottom: 60px;
  right: 20px;
  background: $main-color;
  transition: 350ms ease-in;
  transform: translateY(40%);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

  img {
    animation: move 1s alternate infinite;
  }
}

@keyframes move {
  from {
    transform: translateY(5px);
  }
  to {
    transform: translateY(-5px);
  }
}