@import '~assets/scss/variables';

.subMenuContainer {
    width: 100%;
    position: absolute;
    top: 90px;
    background: white;
    left: 0;
    border-top: 1px solid rgba($attractive-color, 0.4);
    padding-top: 40px;
    z-index: 1;
}


@media screen and (max-width: 1024px) {
    .subMenuContainer {
        top: 50px;

        .cl-gap {
            margin-right: 5px;
            margin-left: 5px;
        }
        .cl-xs-1-2 {
            width: calc(50% - 10px);
        }
    }

    .containSubMenuItems {
        width: 100%!important;
    }
}

@media screen and (orientation: landscape) and (max-width: 1024px) {
    .subMenuContainer {
        top: 0px;
        width: 70%;
        left: 30%;

        .cl-gap {
            margin-right: 5px;
            margin-left: 5px;
        }
        .cl-xs-1-2 {
            width: calc(50% - 10px);
        }
    }

    .containSubMenuItems {
        width: 100%!important;
    }
}

@media screen and (max-width: 500px) {
    .containSubMenuItems {
        .subMenuItems {
            padding: 0!important;
        }
    }
    
 
    .subMenuContainer {
        left: 0%;
        top: 50px;
        width: 100%;
        z-index: 1;;
      }
}

.containSubMenuItems {
    width: 70%;
    background: white;
    margin: auto;

    .subMenuItems {
        padding: 20px 0;

        span {
            font-size: 1.5em;
            font-weight: bold;
            color: $attractive-color;
        }

        .importantList {
            padding-left: 10px;

            &:before {
                height: 100%;
                width: 1px;
                background: $attractive-color;
                border-radius: 40px;
                content: '';
                position: absolute;
                top: 0;
                left: 0px;
            }
        }
        
        ul {
            list-style: none;
            padding-left: 0px;
            margin-top: 15px;
            position: relative;
        
            li {
                padding-left: 30px;
                position: relative;
                margin-top: 10px;
                font-size: 16px;

                &:before {
                    content:'';
                    width: 16px;
                    height: 16px;
                    border-radius: 80% 0 55% 50% / 55% 0 80% 50%;
                    border: 3px solid black;
                    transform: rotate(-45deg);
                    background: black;
                    position: absolute;
                    left: 0px;
                    transition: 300ms ease-in;
                }

                &:hover {

                    &:before {
                        background: transparent;
                    }

                    a {

                    }
                }
        
                a {
                    text-decoration: none;
                    color: $black-text;
                    transition: 300ms ease-in;

                    &:hover {
                        color: $attractive-color;
                    }
                }
            }
        }   
    }
    
}

