@import '~assets/scss/variables';

@font-face {
  font-family: 'Roboto';
  src: url('~assets/font/Roboto-Regular.ttf');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('~assets/font/Roboto-Bold.ttf');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Spartan';
  src: url('~assets/font/Spartan-Regular.ttf');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Spartan';
  src: url('~assets/font/Spartan-Bold.ttf');
  font-weight: 700;
  font-display: swap;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

body
{
  background-image: url('~assets/img/pattern-fond-1.png');
  background-size: 600px;
  color: #000;
  letter-spacing: 0.5px;
  height: 100vh;
  margin: 0;
  font-family: 'Roboto';
}

h1, h2, h3, h4, button, a {
    font-family: Spartan;
    font-weight: bold;
}

p, span, li, input, textarea, label {
  font-family: Roboto;
}

.alert {
    padding: 15px;
    width: 100%;
    color: white;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    text-align: left;
    p {
      margin-top: 7px;
      margin-bottom: 7px;
    }
}

.error {
  background: $attractive-color;
}

.success {
  background: #7EBA2B;
}

.container {
  padding-top: 150px;
  padding-bottom: 100px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.title {
  display: block;
  font-size: 4em;
  color: $main-color;
  letter-spacing: 1px;
}

@media screen and (max-width:425px) {
  .container {
    padding-top: 120px;
  }

  .title {
    font-size: 2em;
}
}

@media screen and (min-width:426px) and (max-width:768px) {
  .container {
    padding-top: 120px;
  }

  .title {
    font-size: 3em;
}
}

.page-enter-active, .page-leave-active {
  transition: 650ms;
  transform: translate(0%, 0);
}
.page-enter, .page-leave-active {
  opacity: 0;
  transform: translate(50%, 0);
}


/* Les animations d'entrée (« enter ») et de sortie (« leave »)  */
/* peuvent utiliser différentes fonctions de durée et de temps.  */
.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}

.slide-submenu-enter-active, .slide-submenu-leave-active {
  transition: 550ms;
  transform: translate(0, 0);
}
.slide-submenu-enter, .slide-submenu-leave-to {
  opacity: 0;
  transform: translate(-10%, 0);
}

html {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}