
@import '~assets/scss/variables';

.container {
  padding-top: 150px;
  padding-bottom: 100px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.title {
  display: flex!important;
  flex-direction: column;
  font-size: 4em;
  color: $main-color;
  letter-spacing: 1px;

  span {
        font-size: 5em;
        font-weight: 400;
  }
}

.btnHome {
    padding: 15px;
    background: $attractive-color;
    border-radius: 8px;
    color: $white-text;
    text-decoration: none;
    transition: 350ms ease-in;
    border: 1px solid $attractive-color;
    &:hover {
        letter-spacing: 3px;
        background: transparent;
        color: $attractive-color;
        font-weight: bold;
    }
}
.containBtn {
    margin-top: 80px;
    width: 30%;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 425px){
    .title {
        font-size: 2em;

        span {
                font-size: 3em;
                font-weight: 400;
        }
    }
    .containBtn {
        width: 95%;
    }
    .btnHome {
        padding: 10px;
    }
}
@media screen and (min-width: 426px) and (max-width: 768px){
    .containBtn {
        width: 70%;
    }
}