<template>
  <div
    class="FAQSection"
    itemscope
    itemtype="https://schema.org/FAQPage"
  >
    <div
      itemscope
      itemprop="mainEntity"
      itemtype="https://schema.org/Question"
    >
      <h2>FAQ</h2>
      <h3 itemprop="name">
        Comment devenir Doper (développeur web junior à Toulouse) ?
      </h3>
      <div
        itemscope
        itemprop="acceptedAnswer"
        itemtype="https://schema.org/Answer"
      >
        <p itemprop="text">
          Pour devenir Doper, que vous soyez développeur web ou autre, vous
          devez nous contacter afin de réaliser des tests d’entrés et
          potentiellement rejoindre la famille des Dopers.
          <nuxt-link to="/contact">
            Nous contacter
          </nuxt-link>
        </p>
      </div>
    </div>
    <div
      itemscope
      itemprop="mainEntity"
      itemtype="https://schema.org/Question"
    >
      <h3 itemprop="name">
        Quel est le salaire d’un développeur web junior à Toulouse ?
      </h3>
      <div
        itemscope
        itemprop="acceptedAnswer"
        itemtype="https://schema.org/Answer"
      >
        <p itemprop="text">
          Le salaire d’un développeur web junior va varier selon l’entreprise,
          l’emplacement géographique et ses compétences. Sachez qu’en moyenne il
          sera de 2100 € brut par mois.
          <nuxt-link to="/jobs">
            Trouver un job
          </nuxt-link>
        </p>
      </div>
    </div>
    <div
      itemscope
      itemprop="mainEntity"
      itemtype="https://schema.org/Question"
    >
      <h3 itemprop="name">
        Comment se former au métier de développeur web à Toulouse ?
      </h3>
      <div
        itemscope
        itemprop="acceptedAnswer"
        itemtype="https://schema.org/Answer"
      >
        <p itemprop="text">
          Notre blog regorge de ressources sur les métiers du digital, sur le
          plan technique mais également sur le plan méthodologique. Vous
          trouverez de quoi devenir LE développeur web junior.
        </p>
        <nuxt-link to="/blog">
          Nos actualités
        </nuxt-link>
      </div>
    </div>
    <div
      itemscope
      itemprop="mainEntity"
      itemtype="https://schema.org/Question"
    >
      <h3 itemprop="name">
        Quels sont les avantages à être Doper ?
      </h3>
      <div
        itemscope
        itemprop="acceptedAnswer"
        itemtype="https://schema.org/Answer"
      >
        <p itemprop="text">
          Devenir un vrai développeur web junior à Toulouse, va vous permettre
          d’obtenir une sécurité financière et sur la qualité des contrats que
          vous effectuerez. Votre vision du métier sera améliorée et vous
          permettra d'avancer, autant sur le plan professionnel que personnel.
        </p>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'FaqHome',
  components: {},
  data: function () {
    return {};
  },
  computed: {},
  mounted () {},
  methods: {}
};
</script>
<style lang="scss" scoped>
@import "~assets/scss/components/pages/faqHome.scss";
</style>
