<template>
  <div>
    <div
      itemscope
      itemtype="http://schema.org/Website"
    >
      <span
        itemprop="name"
        content="Dopa Tech"
      />
      <span
        itemprop="url"
        content="https://dopa-tech.fr"
      />
    </div>
    <div
      itemscope
      itemtype="http://schema.org/Organization"
    >
      <span
        itemprop="name"
        content="Dopa Tech"
      />
      <span
        itemprop="url"
        content="https://dopa-tech.fr"
      />
      <span
        itemprop="logo"
        content="https://dopa-tech.fr/logo/logo.png"
      />
      <span
        itemprop="email"
        content="dev.DopaTech@gmail.com"
      />
      <span
        itemprop="sameAs"
        content="https://www.facebook.com/Dopa-Tech-104941904481833/"
      />
      <span
        itemprop="sameAs"
        content="https://www.linkedin.com/company/dopa-tech/"
      />
      <span
        itemprop="sameAs"
        content="https://twitter.com/Dopa_Tech"
      />
    </div>
  </div>
</template>
<script>
export default {
  name: 'SeoHome',
  components: {},
  data: function () {
    return {};
  },
  computed: {},
  mounted () {},
  methods: {}
};
</script>
<style lang="scss" scoped></style>
