@import '~assets/scss/variables';
.title {
    position: absolute;
    top: 30%;
    left: 20%;
    color: $white-text;
    font-size: 2.5em;
    text-transform: uppercase;
    width: 60%;
    text-align: left;
  }
.headerContainer {
    background-size: cover;
    height: 92vh;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  
    .overlay {
      width: 100%;
      height: 92vh;
      position: absolute;
      top: 0;
      left: 0;
      background: rgba($main-color, 0.7);
    }
  
    .scrollDown {
      width: 40px;
      height: 80px;
      border-radius: 40px;
      border: 1px solid $white-text;
      position: relative;
      bottom: 25px;
      display: flex;
      justify-content: center;
  
      &:after {
        content: "";
        position: absolute;
        height: 5px;
        width: 5px;
        border-radius: 50%;
        background: $white-text;
        top: 15px;
        animation: move 1s ease-in alternate infinite;
      }
    }
  }
  
  @keyframes move {
    from {
      transform: translateY(0px);
      opacity: 1;
    }
    to {
      transform: translateY(40px);
      opacity: 0;
    }
  }

  @media screen and (min-width: 769px) and (max-width: 1024px) {
    .headerContainer {
      background-position:center 60%;
    }
   }

   
   
@media screen and (min-width: 501px) and (max-width: 768px) {
    .headerContainer {
      background-position:center center;
    }
   }
   @media screen and (max-width: 500px) {
    .title {
      font-size: 2em;
      left: 10%;
    }
    .headerContainer {
      background-position:center center;
    }
   }