@import '~assets/scss/variables';
.blogTitleHome {
    color: $main-color;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 150px;
    width: 100%;
   }
   
   .hrUnderTitleSection {
     width: 20%;
     height: 3px;
     background: $main-color;
     margin: 30px auto 30px auto;
     border-radius: 8px;
   }
   
   .littleTextAfterTitle {
     margin-top: 75px;
   }
   
    .mainArticlesWrapper {
      display: flex;
      flex-wrap: wrap;
      margin-top: 4rem;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .cardContainer {
      display: flex;
      flex-direction: column;
      transition: 0.5s;
      border-radius: 20px;
      background: $white-text;
   
      .imageCard, .imageCardJob {
          height: 200px;
          background-repeat: no-repeat;
          border-top-left-radius: 20px;
          border-top-right-radius: 20px;
          background-position: center center;
       }
   
       .imageCard {
         background-size: cover;
       }
   
       .imageCardJob {
         background-size: 60%;
       }
      .descriptionCard {
        padding: 1rem;
        height: 200px;
   
        .titleCard {
          margin-bottom: 1rem;
          font-size: 1.3em;
          font-weight: bold;
          font-family: 'Spartan';
          height: 70%;
        }
   
        .buttonSeeMore {
          text-decoration: none;
          color: $attractive-color;
          cursor:pointer;
          transition: 350ms ease-in;
   
          &:hover {
            letter-spacing: 2px;
          }
        }
   
        .contentCard {
          text-align: center;
        }
      }
    }
    .buttonSeeArticle {
      padding: 1rem 2rem;
      background: #c2185b;
      color: white;
      border: 1px solid #c2185b;
      border-radius: 8px;
      cursor: pointer;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      font-weight: bold;
      transition: 350ms ease-in;
      text-decoration: none;
      width: 30%;
      margin: 4rem auto 0 auto;
   
      &:hover {
        background: transparent;
        color: $attractive-color;
        letter-spacing: 3px;
      }
    }

   @media screen and (min-width: 426px) and (max-width: 768px) {   
    .blogTitleHome {
      width: 100%;
    }
   
    .buttonSeeArticle {
      margin: 2rem auto 0 auto;
    }
   }
   @media screen and (max-width: 425px) {
    .blogTitleHome {
      width: 100%;
      h2 {
        font-size: 1.4rem;
      }
    }
    .buttonSeeArticle {
      width: 70%;
    }
   }