
@import '~assets/scss/variables';

.title {
  width: 100%;
}

.buttonGoToBlog {
  margin-bottom: 25px;
  padding: 15px;
  background: $main-color;
  color: $white-text;
  border-radius: 8px;
  border: 1px solid $main-color;
  transition: 350ms ease-in;
  font-weight: bold;
  letter-spacing: 1px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  cursor: pointer;
  text-decoration: none;

  &:hover {
    letter-spacing: 2px;
    background:transparent;
    color: $main-color;
  }
}

.headerText {
  width: 70%;
  font-size: 1.7em;
  margin: 70px auto 0;
  font-weight: bold;
}

.containFSection {
  margin-top: 20%;
  position: relative;
  width: 90%;
  height: 500px;
  background-position: center 50%;
  background-size: cover;
  border-radius: 8px;
  display: flex;
  align-items: flex-end;
  justify-content: center;

  .containFirstP, .containSecondP {
    width: 45%;
    position: absolute;
    padding: 70px 70px;
    background: $attractive-color;
    border-radius: 8px;

    .textP {
      color: rgba($white-text, 1);
      font-size: 18px;
      text-align: justify;
    }
  }

  .containFirstP {
    left: -10%;
    top: -40%;
  }

  .containSecondP {
    right: -14%;
    bottom: -5%;
  }
}

.titleSection {
  font-size: 2em;
  width: 100%;
}

.hrUnderTitleSection {
  width: 20%;
  height: 3px;
  background: $main-color;
  margin: 30px auto 0 auto;
  border-radius: 8px;
}

.containTSection {
  margin-top: 150px;
  height: auto;
  min-height: 1px;

  .titleSecondSection {
    text-align: left;
    width: 100%;
  }

  .hrSecondSection {
    margin: 25px 0 0 0;
  }

  .containContentTSection {
    display: flex;
    margin-top: 50px;
    align-items: center;

    .imgCarte {
      border-radius: 8px;
    }

    .textTSection {
      text-align: left;
    }
    .textTSection:nth-child(1n + 2) {
        margin-top: 15px;
    }
  }

}

@media screen and (min-width:769px) and (max-width:1300px) {
  .buttonGoToBlog {
    margin-bottom: 0;
    margin-top: 50px;
  }
  .containFSection {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10%;
    height: auto;
    .containFirstP, .containSecondP {
      position: relative;
      width: 80%;
      padding: 50px;
    }

    .containFirstP {
      top: -25px;
      left: 0;
    }

    .containSecondP {
      right: 0;
      bottom: -25px;
    }
  }
}

@media screen and (min-width:551px) and (max-width:768px) {

  .buttonGoToBlog {
    margin-bottom: 0;
    margin-top: 50px;
  }
  .containFSection {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10%;
    height: auto;
    .containFirstP, .containSecondP {
      position: relative;
      width: 80%;
      padding: 50px;
    }

    .containFirstP {
      top: -25px;
      left: 0;
    }

    .containSecondP {
      right: 0;
      bottom: -25px;
    }
  }

  .containTSection {

    .containContentTSection {
      align-items: center;
      .imgCarte {
        min-height: 1px;
      }
    }
  }
}

@media screen and (max-width:375px) {

  .buttonGoToBlog {
    margin-bottom: 0;
    margin-top: 50px;
  }
  .containFSection {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10%;
    width: 100%;
    height: auto;
    .containFirstP, .containSecondP {
      position: relative;
      width: 95%;
      padding: 50px;
    }

    .containFirstP {
      top: -25px;
      left: 0;
    }

    .containSecondP {
      right: 0;
      bottom: -25px;
    }
  }

  .containTSection {
    .containContentTSection {
      flex-direction: column;
      align-items: center;
      .imgCarte {
        min-height: 1px;
      }
    }
  }
}

@media screen and (min-width:376px) and (max-width:550px) {

  .buttonGoToBlog {
    margin-bottom: 0;
    margin-top: 50px;
  }
  .containFSection {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10%;
    width: 100%;
    height: auto;
    .containFirstP, .containSecondP {
      position: relative;
      width: 95%;
      padding: 50px;
    }

    .containFirstP {
      top: -25px;
      left: 0;
    }

    .containSecondP {
      right: 0;
      bottom: -25px;
    }
  }

  .containTSection {

    .containContentTSection {
      flex-direction: column;
      align-items: center;
      .imgCarte {
        min-height: 1px;
      }
    }
  }
}

@media screen and (max-width:320px) {
  .title {
    font-size: 1.7em;
    width: 80%;
  }
    .containTSection {

    .containContentTSection {
      flex-direction: column;
      align-items: center;
      .imgCarte {
        min-height: 1px;
      }
    }
  }
}