
@import '~assets/scss/variables';
.mailLink {
  text-decoration: none;
  color: $attractive-color;
}
  label {
    text-align: left;
    margin-bottom: 10px;
    font-weight: bold;
    letter-spacing: 1px;
    color: $attractive-color;
  }
  .formContainer {
    margin-top: 100px;
    display: flex;
    width: 100%;
  }
  .formContactContainer h2 {
    margin-bottom: 20px;
    text-align: left;
  }
  .contactInfoContainer {
    padding: 0 20px;
  }
  .formIntro {
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .formContact :nth-child(-n+3) {
    width: 50%;
  }

  .formContact input {
    height: 40px;
    margin-bottom: 25px;
    padding: 0px 0px 0px 10px;
    border: none;
    border-radius: 8px;
  }

  .formContact textarea {
    padding: 0px 0px 0px 10px;
    border: none;
    border-radius: 8px;
    height: 120px;
    margin-bottom: 20px;
  }

  .formIntro p {
    margin-top: 50px;
  }

  .formContact {
    display: flex;
    flex-direction: column;
  }

  .formContactContainer {
    position: relative;
    padding: 0 20px;

    &:after {
      position: absolute;
      content: '';
      top: 0;
      right: -10px;
      width: 1px;
      height: 100%;
      background: $main-color;
    }
  }

  .formContact button {
    padding: 1rem 2rem;
    width: 25%;
    background: $attractive-color;
    color: white;
    border: 1px solid $attractive-color;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    font-weight: bold;
    transition: 350ms ease-in;

    &:hover {
      letter-spacing: 2px;
      background: $white-text;
      color: $attractive-color;
    }
  }

  .contactInfoContainer {
    text-align: left;
    h2 {
      margin-bottom: 15px;
    }
  }

  .adress {
    ul {
      padding: 0;
    }
    li {
      list-style: none;
      padding: 3px 0;
    }
  }

  .mediaIconsLogo {
    width: 100%;
    padding: 10px 0 0 20px;
    img {
      width: 30px;
      height: 30px;
      margin-right: 10px;
      cursor: pointer;
    }
  }

  .adress {
    img {
      width: 14px;
      height: 14px;
      margin-right: 6px;
    }
  }
@media only screen and (max-width: 1024px) {
  .formContact {
    button {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 768px) {
  .contactInfoContainer {
    padding: inherit;
  }
  .formContainer {
    margin-top: 50px;
  }
  .container {
    height: auto;
  }
  .formContactContainer {
    &:after {
      width: 0px;
    }
    padding: inherit;
  }
  .formContact button {
    margin: 0 auto;
    width: 100%;
  }
  .formIntro {
    p {
      margin-top: 15px;
    }
  }
}
@media only screen and (max-width: 425px) {
  .container {
    padding-top: 120px;
  }
  .formContainer {
    margin-top: 50px;
    flex-direction: column;
  }
  .formContact :nth-child(-n+3) {
    width: 100%;
  }
  .formContact button {
    padding: 1rem 2rem;
    width: inherit;
    width: 100%
  }
  .formIntro p {
    width: 95%;
  }
}