@import '~assets/scss/variables';
.container {
  padding-top: 0;
}
.introHome {
   width: 100%;
   .subTitleIntroHome {
     font-size: 1.4rem;
     margin-top: 30px;
   }
 }
.containerIntroHome {
 display: flex;
 flex-direction: column;
 margin-top: 50px;
 .introHome {
   display: flex;
   flex-direction: column;
   align-items: center;
   h2 {
     font-size: 3rem;
     color: $main-color;
     margin-top: 50px;
     width: 100%;
   }
   p {
     text-align: center;
     margin-top: 25px;
     width: 100%;
   }
   ul {
     margin-top: 25px;
     width: 100%;
     li {
       width: 100%;
     }
   }

   .subTitleIntroHome {
     width: 100%;
   }
 }
}

.containerSkillsHome {
 display: flex;
 font-size: 1.2rem;
 margin-top: 100px;
 flex-wrap: wrap;
}
 .skill {
   border-radius: 8px;
   padding: 2rem;
   background: $attractive-color;
   color: $white-text;
   h2 {
     margin-bottom: 1rem;
     height: 70px;
     width: 100%;
   }
   p {
     text-align: justify;
   }
 }

 .homeIconWrapper {
   display: flex;
   flex-direction: column;
   align-items: center;
   height: 125px;

   span {
     font-size: 1.3em;
     font-weight: bold;
     letter-spacing: 1px;
   }

   img {
     height: 55px;
     width: 55px;
     margin-bottom: 1rem;
   }
 }

.containTSection {
  margin-top: 150px;
  display: flex;
  align-items: center;
  height: auto;
  min-height: 1px;
  .titleSecondSection {
    text-align: left;
  }

  .hrSecondSection {
    margin: 25px 0 25px 0;
  }

  .imgCarte {
      border-radius: 8px;
  }

  .containContentTSection {
    .containText {
      display: flex;
      flex-direction: column;
     .buttonDiscoverUs {
      padding: 1rem 2rem;
      background: #c2185b;
      color: white;
      border: 1px solid #c2185b;
      border-radius: 8px;
      cursor: pointer;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      font-weight: bold;
      transition: 350ms ease-in;
      text-decoration: none;
      width: 100%;
      margin-top: 15px;

      &:hover {
        background: transparent;
        color: $attractive-color;
        letter-spacing: 3px;
      }
    }
    }
    .textTSection {
      text-align: justify;
    }
    .textTSection:nth-child(1n + 2) {
        margin-top: 15px;
    }
  }
}


@media screen and (min-width: 501px) and (max-width: 768px) {
 .containerIntroHome {
   margin: 70px auto 0 auto;
   padding: 1.5rem 0;
   .introHome {
     display: flex;
     flex-direction: column;
     align-items: center;
     .subTitleIntroHome {
       margin-top: 0.7rem;
       margin-bottom: 1rem;
     }
       h1 {
         font-size: 2.5rem;
       }
       p {
         font-size: 1.4rem;
       }
   }
 }
 .headerContainer {
   background-position:center center;
 }

 .skill {
   h2 {
     margin-bottom: 2rem;
   }
   p {
     font-size: 1rem;
   }
 }
 .containTSection {
   flex-direction: column;
 }
}
@media screen and (max-width: 500px) {
 .title {
   font-size: 2em;
   left: 10%;
 }
 .containerIntroHome {
   margin: 70px auto 0 auto;
   padding: 1.2rem 0;
   .introHome {
     display: flex;
     flex-direction: column;
     align-items: center;
     .subTitleIntroHome {
       margin-top: 0.5rem;
       margin-bottom: 0.8rem;
     }
     h1 {
       font-size: 2.5rem;
     }
     p {
       font-size: 1rem;
       width: 100%;
     }
     h2 {
       font-size: 2em;
     }
   }
 }
 .headerContainer {
   background-position:center center;
 }
 .skill {
   padding: 1rem;
   h2 {
     margin-bottom: 1rem;
     font-size: 1.4rem;
   }
   img {
     width: 40px;
     height: 40px;
   }
 }
  .containTSection {
   flex-direction: column;
   .containContentTSection {
     width: 100%;
   }

   .imgCarte {
     height: auto;
     min-height: 1px;
   }
}
}