<template>
  <div class="container">
    <div class="containForm">
      <h1 class="title">
        Admin page
      </h1>
      <div>
        <p v-if="user">
          Hello, {{ user.email }}
        </p>
        <p v-else>
          The user is not authenticated!
        </p>
        <div
          class="toto"
          @click="$store.dispatch('auth/fetch')"
        >
          Check Me
        </div>
        <div
          class="toto"
          @click="logOut"
        >
          Se déconnecter
        </div>
      </div>
      <div class="containAnchor">
        <p @click="swapController('user')">
          User
        </p>
        <p @click="swapController('blog')">
          Blog
        </p>
        <p @click="swapController('job')">
          Job
        </p>
      </div>
      <UserManagement v-if="displayUser" />
      <BlogManagement v-if="displayBlog" />
      <JobManagement v-if="displayJob" />
    </div>
  </div>
</template>
<script>
import BlogManagement from '~/components/admin/BlogManagement';
import UserManagement from '~/components/admin/UserManagement';
import JobManagement from '~/components/admin/JobManagement';
export default {
  components: {
    UserManagement,
    BlogManagement,
    JobManagement
  },
  data: function () {
    return {
      displayBlog: false,
      displayUser: true,
      displayJob: false
    };
  },
  computed: {
    user () {
      return (this.$store.state.auth || {}).user || null;
    }
  },
  methods: {
    swapController (option) {
      if (option === 'user') {
        this.displayUser = true;
        this.displayBlog = false;
        this.displayJob = false;
      } else if (option === 'blog') {
        this.displayUser = false;
        this.displayBlog = true;
        this.displayJob = false;
      } else if (option === 'job') {
        this.displayUser = false;
        this.displayBlog = false;
        this.displayJob = true;
      }
    },
    logOut () {
      this.$store.dispatch('auth/reset').then(() => {
        this.$router.push('sign-in');
      });
    }
  }
};
</script>
<style lang="scss" scoped>
@import "~assets/scss/variables";

.containForm {
  width: 80%;
}

.containFormCreateUser {
  display: flex;
  flex-direction: column;
}

.containFormCreateUser input,
.containFormCreateUser textarea,
.containFormCreateUser label {
  text-align: left;
  margin-top: 15px;
}

.containAnchor {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;

  p {
    font-weight: bold;
    font-size: 1.3em;
    letter-spacing: 1px;
    border-radius: 8px;
    border: 1px solid $main-color;
    padding: 8px;
    transition: 350ms ease-in;
    background: transparent;
    cursor: pointer;

    &:hover {
      background: $main-color;
      color: $white-text;
    }
  }
}
</style>
