<template>
  <div class="container">
    <div class="containForm">
      <h1 class="title">
        Dopa
      </h1>
      <div v-if="alert">
        {{ alert }}
      </div>
      <input
        v-model="email"
        type="text"
        class="inputTextLogin"
        placeholder="E-mail"
      >
      <input
        v-model="password"
        type="password"
        class="inputTextLogin"
        placeholder="Password"
      >
      <div
        class="inputSubmitLogin"
        @click="loginUser"
      >
        Se connecter
      </div>
    </div>
  </div>
</template>

<script>
export default {
  components: {},
  data: function () {
    return {
      email: null,
      password: null,
      alert: null
    };
  },
  methods: {
    loginUser () {
      this.$store
        .dispatch('auth/login', {
          email: this.email,
          password: this.password
        })
        .then((result) => {
          this.alert = result.data.message;
          this.$router.push('/aponim/admin');
        })
        .catch((error) => {
          if (error.response && error.response.data) {
            this.alert = error.response.data.message;
          }
        });
    }
  },
  head () {
    return {
      title: 'Home'
    };
  }
};
</script>

<style lang="scss" scoped>
@import "~assets/scss/variables";
.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.title {
  font-family: "Quicksand", "Source Sans Pro", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.containForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 15px;
  width: 50%;
  background: #f7f7f7;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 8px;
}

.inputTextLogin {
  margin-top: 15px;
  height: 40px;
  border-radius: 8px;
  border: none;
  padding-left: 15px;
  font-size: 1.5em;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  width: 80%;
}

.inputSubmitLogin {
  margin-top: 15px;
  font-weight: bold;
  background: white;
  border-radius: 8px;
  border: none;
  padding: 15px;
  font-size: 1.5em;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  transition: 350ms ease-in;
  width: 80%;
}

.inputSubmitLogin:hover {
  letter-spacing: 3px;
  background: #303030;
  color: white;
}
</style>
