@import '~assets/scss/variables';
.title {
  position: absolute;
  top: 30%;
  left: 20%;
  color: $white-text;
  font-size: 2.5em;
  text-transform: uppercase;
  width: 60%;
  text-align: left;
}

.headerContainer {
  background-size: cover;
  height: 92vh;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;

  .overlay {
    width: 100%;
    height: 92vh;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba($main-color, 0.7);
  }

  .scrollDown {
    width: 40px;
    height: 80px;
    border-radius: 40px;
    border: 1px solid $white-text;
    position: relative;
    bottom: 25px;
    display: flex;
    justify-content: center;

    &:after {
      content: "";
      position: absolute;
      height: 5px;
      width: 5px;
      border-radius: 50%;
      background: $white-text;
      top: 15px;
      animation: move 1s ease-in alternate infinite;
    }
  }
}

@keyframes move {
  from {
    transform: translateY(0px);
    opacity: 1;
  }
  to {
    transform: translateY(40px);
    opacity: 0;
  }
}

.containArticle {
  margin-top: 50px;

  .containHeaderArticle {
    display: flex;
    position: relative;
    min-height: 150px;
    padding-left: 50px;
    width: 100%;

    &:after {
      content: '';
      left: 0;
      top: 0;
      width: 1px;
      height: 100%;
      background: $main-color;
      position: absolute;

    }

    .leftPart {
      width: 80%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      .dateArticle {
        color: rgba($black-text, 0.8);
        font-weight: bold;
      }
      .secondTitle {
        font-size: 1.7em;
        font-weight: bold;
        text-transform: uppercase;
        width: 50%;
        text-align: left;
      }
    }
    .rightPart {
      width: 20%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
      img {
          width: 30px;
          height: 30px;
          cursor: pointer;
      }
    }
  }

  .containArticleContent {
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: left;
  }
}
@media screen and (max-width: 425px) {

  .title {
    left: 5%;
    width: 90%;
    bottom: 50%;
    font-size: 2em;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {

  .title {
    width: 90%;
    bottom: 50%;
    font-size: 2em;
    left: 5%;
  }
}