@import '~assets/scss/variables';
.containArticleContent {
    h2 {
      color: $main-color;
      padding-top: 40px;
    }
    h3 {
      color: $main-color;
      padding-top: 20px;
    }

    li {
        margin-top: 10px;
    }
    a {
        color: $attractive-color;
        font-weight: bold;
        word-break: break-word;
    }
  
    section {
        margin-top: 50px;
    }
  
    p {
      margin-top: 25px;
    }
  
    .imageArticleHtml {
        width: 100%;
        height: 350px;
        background-size: cover;
        background-position: center center;
        margin-bottom: 25px;
        margin-top: 25px;
    }
  
    .sommaireHtml {
        font-size: 1.5em;
        font-weight: bold;
        line-height: 50px;
    }
    .authorHtml {
        font-size: 1.3em;
        font-weight: bold;
        color: $attractive-color;
        line-height: 75px;
    }
  }