<template>
  <div>
    <nav-bar />
    <nuxt />
    <scroll-to-top />
    <Footer />
  </div>
</template>
<script>
import NavBar from '~/components/skeleton/NavBar.vue';
import Footer from '~/components/skeleton/Footer.vue';
import ScrollToTop from '~/components/skeleton/ScrollToTop.vue';
export default {
  components: {
    'nav-bar': NavBar,
    Footer,
    'scroll-to-top': ScrollToTop
  },
  data: function () {
    return {
    };
  },
  created () {
  },
  methods: {
  }
};
</script>
<style lang="scss">
@import "~assets/scss/pages/blog/article-content.scss";
@import "~assets/scss/pages/jobs/job-content.scss";
@import "~assets/scss/layout/default.scss";
</style>
