<template>
  <div class="container">
    <h1
      v-if="error.statusCode === 404"
      class="title"
    >
      <span>404</span>Perdu dans la matrice..
    </h1>
    <h1
      v-else
      class="title"
    >
      <span>500</span>La matrice est cassée
    </h1>
    <div class="containBtn">
      <nuxt-link
        class="btnHome"
        to="/"
      >
        Accueil
      </nuxt-link>
      <a
        class="btnHome"
        @click="goBefore"
      > Revenir à la page précendente </a>
    </div>
    <PreFooter />
  </div>
</template>
<script>
import PreFooter from '~/components/skeleton/PreFooter.vue';
export default {
  components: {
    PreFooter
  },
  props: ['error'],
  methods: {
    goBefore () {
      this.$router.go(-1);
    }
  }
};
</script>
<style lang="scss">
@import "~assets/scss/layout/error.scss";
</style>
