<template>
  <div class="">
    <h2>Gestions des articles</h2>
    <div class="containFormCreateUser">
      <div
        v-if="articleType"
        :class="'alert ' + articleType"
      >
        {{ articleMessage }}
      </div>
      <input
        v-model="articleName"
        type="text"
        placeholder="Nom"
      >
      <input
        v-model="articleUrl"
        type="text"
        placeholder="Slug"
      >
      <label for="fileImg">Importer une image pour les réseaux sociaux</label>
      <input
        id="articleImg"
        ref="fileImg"
        type="file"
        name="fileImg"
        @change="selectFileImg"
      >
      <label for="fileImg">Contenu du message (format HTML)</label>
      <textarea
        v-model="articleContent"
        placeholder="Contenu de l'article"
        name="contentArticle"
      />
      <input
        v-model="articleMetaTile"
        type="text"
        placeholder="Meta Title"
      >
      <textarea
        v-model="articleMetaDesc"
        placeholder="Méta description de l'article"
      />
      <input
        v-model="articleOgTile"
        type="text"
        placeholder="Og Title"
      >
      <textarea
        v-model="articleOgDesc"
        placeholder="Og description de l'article"
      />
      <label for="fileOg">Importer une image pour les réseaux sociaux</label>
      <input
        id="articleOgImg"
        ref="fileOg"
        type="file"
        name="fileOg"
        @change="selectFileOg"
      >

      <input
        v-model="articleTwitterTile"
        type="text"
        placeholder="Twitter Title"
      >
      <textarea
        v-model="articleTwitterDesc"
        placeholder="Twitter description de l'article"
      />
      <label
        for="fileTwitter"
      >Importer une image pour les réseaux sociaux</label>
      <input
        id="articleTwitterImg"
        ref="fileTwitter"
        type="file"
        name="fileTwitter"
        @change="selectFileTwitter"
      >
      <input
        v-model="author"
        type="text"
        placeholder="Auteur (Prénom Nom)"
      >
      <div
        class="links"
        @click="createArticle"
      >
        Ajouter un article
      </div>
    </div>
    <UpDeBlogManagement />
  </div>
</template>
<script>
import UpDeBlogManagement from '~/components/admin/UpDeBlogManagement';
export default {
  components: {
    UpDeBlogManagement
  },
  data: function () {
    return {
      articleName: '',
      articleUrl: '',
      articleContent: '',
      articleMetaTile: '',
      articleMetaDesc: '',
      articleOgTile: '',
      articleOgDesc: '',
      articleTwitterTile: '',
      articleTwitterDesc: '',
      author: '',
      createdAt: '',
      fileImg: null,
      fileOg: null,
      fileTwitter: null,
      articleType: null,
      articleMessage: null
    };
  },
  computed: {},
  methods: {
    selectFileImg () {
      const file = this.$refs.fileImg.files[0];
      this.fileImg = file;
    },
    selectFileOg () {
      const file = this.$refs.fileOg.files[0];
      this.fileOg = file;
    },
    selectFileTwitter () {
      const file = this.$refs.fileTwitter.files[0];
      this.fileTwitter = file;
    },
    async createArticle () {
      const formDataImg = new FormData();
      formDataImg.append('file', this.fileImg);
      const formDataOg = new FormData();
      formDataOg.append('file', this.fileOg);
      const formDataTwitter = new FormData();
      formDataTwitter.append('file', this.fileTwitter);
      try {
        const img = await this.$store.dispatch('uploads/upload', formDataImg);
        const ogImg = await this.$store.dispatch('uploads/upload', formDataOg);
        const twitterImg = await this.$store.dispatch(
          'uploads/upload',
          formDataTwitter
        );
        if (img && ogImg && twitterImg) {
          this.createdAt = new Date()
            .toISOString()
            .slice(0, 19)
            .replace('T', ' ');
          const newArticle = await this.$store.dispatch('blog/create', {
            name: this.articleName,
            url: this.articleUrl,
            content: this.articleContent,
            createdAt: this.createdAt,
            metaTitle: this.articleMetaTile,
            metaDesc: this.articleMetaDesc,
            ogTitle: this.articleOgTile,
            ogDesc: this.articleOgDesc,
            twitterTitle: this.articleTwitterTile,
            twitterDesc: this.articleTwitterDesc,
            articleImg: img.data,
            ogImg: ogImg.data,
            twitterImg: twitterImg.data,
            author: this.author
          });
          this.articleType = newArticle.data.type;
          this.articleMessage = newArticle.data.message;
        }
      } catch (error) {
        this.articleType = error.type;
        this.articleMessage = error.message;
      }
    }
  }
};
</script>
<style lang="scss" scoped>
@import "~assets/scss/variables";

.containFormCreateUser {
  display: flex;
  flex-direction: column;
  input {
    margin-top: 15px;
  }
  textarea {
    margin-top: 15px;
  }
  label {
    margin-top: 15px;
  }
}
</style>
