<template>
  <div class="">
    <h2>Gestions des annonces de Job</h2>
    <div class="containFormCreateUser">
      <div
        v-if="jobType"
        :class="'alert ' + jobType"
      >
        {{ jobMessage }}
      </div>
      <h3>Référencement</h3>
      <input
        v-model="jobUrl"
        type="text"
        placeholder="Slug"
      >
      <input
        v-model="jobMetaTile"
        type="text"
        placeholder="Meta Title"
      >
      <textarea
        v-model="jobMetaDesc"
        placeholder="Méta description du job"
      />
      <input
        v-model="jobOgTile"
        type="text"
        placeholder="Og Title"
      >
      <textarea
        v-model="jobOgDesc"
        placeholder="Og description du job"
      />
      <label for="fileOg">Importer une image pour les réseaux sociaux</label>
      <input
        id="jobOgImg"
        ref="fileOg"
        type="file"
        name="fileOg"
        @change="selectFileOg"
      >

      <input
        v-model="jobTwitterTile"
        type="text"
        placeholder="Twitter Title"
      >
      <textarea
        v-model="jobTwitterDesc"
        placeholder="Twitter description du job"
      />
      <label
        for="fileTwitter"
      >Importer une image pour les réseaux sociaux</label>
      <input
        id="jobTwitterImg"
        ref="fileTwitter"
        type="file"
        name="fileTwitter"
        @change="selectFileTwitter"
      >
      <h3>Annonce</h3>
      <p>Nom du job</p>
      <input
        v-model="jobName"
        type="text"
        placeholder="Nom"
      >
      <label for="">Contenu du message (format HTML)</label>
      <textarea
        v-model="jobContent"
        placeholder="Contenu du job"
        name="contentjob"
      />
      <p>Salaire minimum</p>
      <input
        v-model="minMonetary"
        type="number"
        placeholder="Salire minimum"
      >
      <p>Salaire maximum</p>
      <input
        v-model="maxMonetary"
        type="number"
        placeholder="Salaire maximum"
      >
      <!-- maybe a select -->
      <p>"HOUR", "DAY", "WEEK", "MONTH", "YEAR"</p>
      <input
        v-model="typeMonetary"
        type="text"
        placeholder="Journalier, horaire, mensuel..."
      >
      <p>Monnaie utilisé pour le salaire</p>
      <input
        v-model="currency"
        type="text"
        placeholder="EUR..."
      >
      <p>Date de suppression de l'annonce</p>
      <input
        v-model="endAt"
        type="date"
        placeholder="Date de fin"
      >
      <input
        v-model="studies"
        type="text"
        placeholder="Etudes"
      >
      <!-- maybe a select -->
      <p>
        "FULL_TIME", "PART_TIME", "CONTRACTOR", "TEMPORARY", "INTERN",
        "VOLUNTEER", "PER_DIEM", "OTHER"
      </p>
      <input
        v-model="jobStyle"
        type="text"
        placeholder="Temps plein..."
      >
      <p>Url d'origine de l'annonce</p>
      <input
        v-model="jobUrlOrigin"
        type="text"
        placeholder="https://dopa-tech.fr"
      >
      <p>Experience</p>
      <input
        v-model="xP"
        type="text"
        placeholder="Experience requise"
      >
      <p>Type d'entreprise</p>
      <input
        v-model="typeEnterprise"
        type="text"
        placeholder="agence digitale..."
      >
      <p>Nom entreprise</p>
      <input
        v-model="nameEnterprise"
        type="text"
        placeholder="Dopa Tech"
      >
      <label
        for="logoFileEnterprise"
      >Importer une image pour le logo de l'entreprise</label>
      <input
        id="logoFileEnterprise"
        ref="logoFileEnterprise"
        type="file"
        name="logoFileEnterprise"
        @change="selectFileLogoFileEnterprise"
      >
      <p>Remote</p>
      <input
        v-model="remote"
        type="text"
        placeholder="true or false"
      >
      <p>Remote et sur place</p>
      <input
        v-model="remoteAndSite"
        type="text"
        placeholder="true or false"
      >
      <p>Remote et sur place et aussi dans un autre pays</p>
      <input
        v-model="remoteLocalizationAndSite"
        type="text"
        placeholder="true or false"
      >
      <p>Ville</p>
      <input
        v-model="cityJob"
        type="text"
        placeholder="Toulouse"
      >
      <p>Pays</p>
      <input
        v-model="countryJob"
        type="text"
        placeholder="France"
      >
      <p>Code pays</p>
      <input
        v-model="countryCodeJob"
        type="text"
        placeholder="FRA"
      >
      <p>Region</p>
      <input
        v-model="districtJob"
        type="text"
        placeholder="Occitanie"
      >
      <p>Code postal</p>
      <input
        v-model="postalJob"
        type="text"
        placeholder="31000"
      >
      <p>Adresse</p>
      <input
        v-model="addressJob"
        type="text"
        placeholder="149 rue du férétra"
      >
      <p>Pays dispo pour remote autre que le pays de l'entreprise</p>
      <input
        v-model="remoteLocalisation"
        type="text"
        placeholder="Belgique"
      >
      <p>SoftSkill</p>
      <input
        v-model="softSkils"
        type="text"
        placeholder="Technologies...."
      >
      <p>Nombre d'heure / semaine</p>
      <input
        v-model="hoursByWeek"
        type="text"
        placeholder="35h par semaine"
      >
      <p>Monnaie utilisé pour le salaire</p>
      <input
        v-model="salaryCurrency"
        type="text"
        placeholder="EUR"
      >
      <div
        class="links"
        @click="createjob"
      >
        Ajouter un job
      </div>
    </div>
    <UpDeJobManagement />
  </div>
</template>
<script>
import UpDeJobManagement from '~/components/admin/UpDeJobManagement';
export default {
  components: {
    UpDeJobManagement
  },
  data: function () {
    return {
      // réferencement
      jobUrl: '',
      jobMetaTile: '',
      jobMetaDesc: '',
      jobOgTile: '',
      jobOgDesc: '',
      jobTwitterTile: '',
      jobTwitterDesc: '',
      jobUrlOrigin: '',
      fileOg: null,
      fileTwitter: null,
      // contenu du job
      jobName: '',
      jobContent: '',
      minMonetary: 0,
      maxMonetary: 0,
      typeMonetary: '',
      currency: '',
      createdAt: '',
      endAt: '',
      studies: '',
      jobStyle: '',
      xP: '',
      typeEnterprise: '',
      nameEnterprise: '',
      logoFileEnterprise: null,
      remote: false,
      remoteAndSite: false,
      remoteLocalizationAndSite: false,
      cityJob: '',
      countryJob: '',
      countryCodeJob: '',
      districtJob: '',
      postalJob: '',
      addressJob: '',
      remoteLocalisation: '',
      softSkils: '',
      hoursByWeek: '',
      salaryCurrency: '',
      // erreur
      jobType: null,
      jobMessage: null
    };
  },
  computed: {},
  methods: {
    selectFileOg () {
      const file = this.$refs.fileOg.files[0];
      this.fileOg = file;
    },
    selectFileTwitter () {
      const file = this.$refs.fileTwitter.files[0];
      this.fileTwitter = file;
    },
    selectFileLogoFileEnterprise () {
      const file = this.$refs.logoFileEnterprise.files[0];
      this.logoFileEnterprise = file;
    },
    async createjob () {
      const formDataOg = new FormData();
      formDataOg.append('file', this.fileOg);
      const formDataTwitter = new FormData();
      formDataTwitter.append('file', this.fileTwitter);
      const formDataLogoEnterprise = new FormData();
      formDataLogoEnterprise.append('file', this.logoFileEnterprise);
      this.remote === 'true' ? (this.remote = true) : (this.remote = false);
      this.remoteAndSite === 'true'
        ? (this.remoteAndSite = true)
        : (this.remoteAndSite = false);
      this.remoteLocalizationAndSite === 'true'
        ? (this.remoteLocalizationAndSite = true)
        : (this.remoteLocalizationAndSite = false);
      try {
        const ogImg = await this.$store.dispatch('uploads/upload', formDataOg);
        const twitterImg = await this.$store.dispatch(
          'uploads/upload',
          formDataTwitter
        );
        const fileLogoEnterprise = await this.$store.dispatch(
          'uploads/upload',
          formDataLogoEnterprise
        );
        if (ogImg && twitterImg && fileLogoEnterprise) {
          this.createdAt = new Date()
            .toISOString()
            .slice(0, 19)
            .replace('T', ' ');
          const newjob = await this.$store.dispatch('job/create', {
            url: this.jobUrl,
            metaTitle: this.jobMetaTile,
            metaDesc: this.jobMetaDesc,
            ogTitle: this.jobOgTile,
            ogDesc: this.jobOgDesc,
            twitterTitle: this.jobTwitterTile,
            twitterDesc: this.jobTwitterDesc,
            ogImg: ogImg.data,
            twitterImg: twitterImg.data,
            name: this.jobName,
            content: this.jobContent,
            minMonetary: this.minMonetary,
            maxMonetary: this.maxMonetary,
            typeMonetary: this.typeMonetary,
            currency: this.currency,
            createdAt: this.createdAt,
            endAt: this.endAt,
            studies: this.studies,
            jobStyle: this.jobStyle,
            xP: this.xP,
            typeEnterprise: this.typeEnterprise,
            nameEnterprise: this.nameEnterprise,
            urlLogoEnterprise: fileLogoEnterprise.data,
            remote: this.remote,
            remoteAndSite: this.remoteAndSite,
            remoteLocalizationAndSite: this.remoteLocalizationAndSite,
            cityJob: this.cityJob,
            countryJob: this.countryJob,
            countryCodeJob: this.countryCodeJob,
            districtJob: this.districtJob,
            postalJob: this.postalJob,
            addressJob: this.addressJob,
            remoteLocalisation: this.remoteLocalisation,
            softSkils: this.softSkils,
            hoursByWeek: this.hoursByWeek,
            salaryCurrency: this.salaryCurrency,
            jobUrlOrigin: this.jobUrlOrigin
          });
          this.jobType = newjob.data.type;
          this.jobMessage = newjob.data.message;
        }
      } catch (error) {
        this.jobType = error.type;
        this.jobMessage = error.message;
      }
    }
  }
};
</script>
<style lang="scss" scoped>
@import "~assets/scss/variables";

.containFormCreateUser {
  display: flex;
  flex-direction: column;
  h2 {
    margin-top: 30px;
  }
  h3 {
    margin-top: 20px;
  }
  input {
    margin-top: 15px;
  }
  textarea {
    margin-top: 15px;
  }
  label {
    margin-top: 15px;
  }
}
</style>
