<template>
  <div class="containAllArticles">
    <h2>Gestions des articles</h2>
    <div
      v-for="(job, index) in listJobs"
      :key="index"
      class="article"
    >
      <div class="containArticles">
        <p class="idArticle">
          id : {{ job.id }}
        </p>
        <p class="titleArticle">
          Nom : {{ job.name }}
        </p>
        <p class="urlArticle">
          Url : {{ job.url }}
        </p>
        <div
          class="deleteButton"
          @click="modifyOneJob(job.id)"
        >
          Sélectionner le job
        </div>
        <div
          class="deleteButton"
          @click="deleteOneJob(job.id)"
        >
          Supprimer le job
        </div>
      </div>
    </div>
    <div
      v-if="selectedJobToModify"
      class="containFormModify"
    >
      <div class="containFormCreateUser">
        <div
          v-if="jobType"
          :class="'alert ' + jobType"
        >
          {{ jobMessage }}
        </div>
        <h3>Référencement</h3>
        <input
          v-model="jobUrl"
          type="text"
          placeholder="Slug"
        >
        <input
          v-model="jobMetaTitle"
          type="text"
          placeholder="Meta Title"
        >
        <textarea
          v-model="jobMetaDesc"
          placeholder="Méta description du job"
        />
        <input
          v-model="jobOgTitle"
          type="text"
          placeholder="Og Title"
        >
        <textarea
          v-model="jobOgDesc"
          placeholder="Og description du job"
        />
        <label for="fileOg">Importer une image pour les réseaux sociaux</label>
        <input
          id="jobOgImg"
          ref="fileOg"
          type="file"
          name="fileOg"
          @change="selectFileOg"
        >

        <input
          v-model="jobTwitterTitle"
          type="text"
          placeholder="Twitter Title"
        >
        <textarea
          v-model="jobTwitterDesc"
          placeholder="Twitter description du job"
        />
        <label
          for="fileTwitter"
        >Importer une image pour les réseaux sociaux</label>
        <input
          id="jobTwitterImg"
          ref="fileTwitter"
          type="file"
          name="fileTwitter"
          @change="selectFileTwitter"
        >
        <h3>Annonce</h3>
        <p>Nom du job</p>
        <input
          v-model="jobName"
          type="text"
          placeholder="Nom"
        >
        <label for="">Contenu du message (format HTML)</label>
        <textarea
          v-model="jobContent"
          placeholder="Contenu du job"
          name="contentjob"
        />
        <p>Salaire minimum</p>
        <input
          v-model="minMonetary"
          type="number"
          placeholder="Salire minimum"
        >
        <p>Salaire maximum</p>
        <input
          v-model="maxMonetary"
          type="number"
          placeholder="Salaire maximum"
        >
        <!-- maybe a select -->
        <p>"HOUR", "DAY", "WEEK", "MONTH", "YEAR"</p>
        <input
          v-model="typeMonetary"
          type="text"
          placeholder="Journalier, horaire, mensuel..."
        >
        <p>Monnaie utilisé pour le salaire</p>
        <input
          v-model="currency"
          type="text"
          placeholder="EUR..."
        >
        <p>Date de suppression de l'annonce</p>
        <input
          v-model="endAt"
          type="date"
          placeholder="Date de fin"
        >
        <input
          v-model="studies"
          type="text"
          placeholder="Etudes"
        >
        <!-- maybe a select -->
        <p>
          "FULL_TIME", "PART_TIME", "CONTRACTOR", "TEMPORARY", "INTERN",
          "VOLUNTEER", "PER_DIEM", "OTHER"
        </p>
        <input
          v-model="jobStyle"
          type="text"
          placeholder="Temps plein..."
        >
        <p>Url d'origine de l'annonce</p>
        <input
          v-model="jobUrlOrigin"
          type="text"
          placeholder="https://dopa-tech.fr"
        >
        <p>Experience</p>
        <input
          v-model="xP"
          type="text"
          placeholder="Experience requise"
        >
        <p>Type d'entreprise</p>
        <input
          v-model="typeEnterprise"
          type="text"
          placeholder="agence digitale..."
        >
        <p>Nom entreprise</p>
        <input
          v-model="nameEnterprise"
          type="text"
          placeholder="Dopa Tech"
        >
        <label
          for="logoFileEnterprise"
        >Importer une image pour le logo de l'entreprise</label>
        <input
          id="logoFileEnterprise"
          ref="logoFileEnterprise"
          type="file"
          name="logoFileEnterprise"
          @change="selectFileLogoFileEnterprise"
        >
        <p>Remote</p>
        <input
          v-model="remote"
          type="text"
          placeholder="true or false"
        >
        <p>Remote et sur place</p>
        <input
          v-model="remoteAndSite"
          type="text"
          placeholder="true or false"
        >
        <p>Remote et sur place et aussi dans un autre pays</p>
        <input
          v-model="remoteLocalizationAndSite"
          type="text"
          placeholder="true or false"
        >
        <p>Ville</p>
        <input
          v-model="cityJob"
          type="text"
          placeholder="Toulouse"
        >
        <p>Pays</p>
        <input
          v-model="countryJob"
          type="text"
          placeholder="France"
        >
        <p>Code pays</p>
        <input
          v-model="countryCodeJob"
          type="text"
          placeholder="FRA"
        >
        <p>Region</p>
        <input
          v-model="districtJob"
          type="text"
          placeholder="Occitanie"
        >
        <p>Code postal</p>
        <input
          v-model="postalJob"
          type="text"
          placeholder="31000"
        >
        <p>Adresse</p>
        <input
          v-model="addressJob"
          type="text"
          placeholder="149 rue du férétra"
        >
        <p>Pays dispo pour remote autre que le pays de l'entreprise</p>
        <input
          v-model="remoteLocalisation"
          type="text"
          placeholder="Belgique"
        >
        <p>SoftSkill</p>
        <input
          v-model="softSkils"
          type="text"
          placeholder="Technologies...."
        >
        <p>Nombre d'heure / semaine</p>
        <input
          v-model="hoursByWeek"
          type="text"
          placeholder="35h par semaine"
        >
        <p>Monnaie utilisé pour le salaire</p>
        <input
          v-model="salaryCurrency"
          type="text"
          placeholder="EUR"
        >
        <div
          class="links"
          @click="modifyArticle"
        >
          Modifier le job
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'UpdateBlogManagement',
  components: {},
  data: function () {
    return {
      // réferencement
      jobId: 0,
      jobUrl: '',
      jobMetaTitle: '',
      jobMetaDesc: '',
      jobOgTitle: '',
      jobOgDesc: '',
      jobTwitterTitle: '',
      jobTwitterDesc: '',
      jobUrlOrigin: '',
      fileOg: null,
      fileTwitter: null,
      // contenu du job
      jobName: '',
      jobContent: '',
      minMonetary: 0,
      maxMonetary: 0,
      typeMonetary: '',
      currency: '',
      createdAt: '',
      endAt: '',
      studies: '',
      jobStyle: '',
      xP: '',
      typeEnterprise: '',
      nameEnterprise: '',
      logoFileEnterprise: null,
      remote: false,
      remoteAndSite: false,
      remoteLocalizationAndSite: false,
      cityJob: '',
      countryJob: '',
      countryCodeJob: '',
      districtJob: '',
      postalJob: '',
      addressJob: '',
      remoteLocalisation: '',
      softSkils: '',
      hoursByWeek: '',
      salaryCurrency: '',
      // erreur
      jobType: null,
      jobMessage: null,
      selectedJobToModify: false
    };
  },
  computed: {
    listJobs: function () {
      return this.$store.getters['job/list'];
    }
  },
  mounted () {
    return this.$store
      .dispatch('job/list')
      .then((result) => {})
      .catch((error) => {
        console.log(error);
      });
  },
  methods: {
    modifyOneJob (id) {
      const jobToModify = this.$store.getters['job/list'].filter(
        (elem) => elem.id === id
      )[0];
      this.jobId = jobToModify.id;
      this.jobUrl = jobToModify.url;
      this.jobMetaTitle = jobToModify.meta_title;
      this.jobMetaDesc = jobToModify.meta_desc;
      this.jobOgTitle = jobToModify.og_title;
      this.jobOgDesc = jobToModify.og_description;
      this.jobTwitterTitle = jobToModify.twitter_title;
      this.jobTwitterDesc = jobToModify.twitter_description;
      this.jobUrlOrigin = jobToModify.jobUrlOrigin;
      this.jobName = jobToModify.name;
      this.jobContent = jobToModify.content;
      this.minMonetary = jobToModify.minMonetary;
      this.maxMonetary = jobToModify.maxMonetary;
      this.typeMonetary = jobToModify.typeMonetary;
      this.currency = jobToModify.currency;
      this.endAt = jobToModify.end_at;
      this.studies = jobToModify.studies;
      this.jobStyle = jobToModify.jobStyle;
      this.xP = jobToModify.xP;
      this.typeEnterprise = jobToModify.typeEnterprise;
      this.nameEnterprise = jobToModify.nameEnterprise;
      this.remote = jobToModify.remote;
      this.remoteAndSite = jobToModify.remoteAndSite;
      this.remoteLocalizationAndSite = jobToModify.remoteLocalizationAndSite;
      this.cityJob = jobToModify.cityJob;
      this.countryJob = jobToModify.countryJob;
      this.countryCodeJob = jobToModify.countryCodeJob;
      this.districtJob = jobToModify.districtJob;
      this.postalJob = jobToModify.postalJob;
      this.addressJob = jobToModify.addressJob;
      this.remoteLocalisation = jobToModify.remoteLocalisation;
      this.softSkils = jobToModify.softSkils;
      this.hoursByWeek = jobToModify.hoursByWeek;
      this.salaryCurrency = jobToModify.salaryCurrency;
      this.selectedJobToModify = true;
    },
    async deleteOneJob (id) {
      const jobToDelete = await this.$store.dispatch('job/delete', id);
      this.deleteType = jobToDelete.data.type;
      this.deleteMessage = jobToDelete.data.message;
    },
    selectFileOg () {
      const file = this.$refs.fileOg.files[0];
      this.fileOg = file;
    },
    selectFileTwitter () {
      const file = this.$refs.fileTwitter.files[0];
      this.fileTwitter = file;
    },
    selectFileLogoFileEnterprise () {
      const file = this.$refs.logoFileEnterprise.files[0];
      this.logoFileEnterprise = file;
    },
    async modifyArticle () {
      let formDataLogo, formDataOg, formDataTwitter;
      if (this.logoFileEnterprise) {
        formDataLogo = new FormData();
        formDataLogo.append('file', this.logoFileEnterprise);
      }
      if (this.fileOg) {
        formDataOg = new FormData();
        formDataOg.append('file', this.fileOg);
      }
      if (this.fileTwitter) {
        formDataTwitter = new FormData();
        formDataTwitter.append('file', this.fileTwitter);
      }
      try {
        let logoFileEnterprise, ogImg, twitterImg;
        if (this.logoFileEnterprise) {
          logoFileEnterprise = await this.$store.dispatch(
            'uploads/upload',
            formDataLogo
          );
        }
        if (this.fileOg) { ogImg = await this.$store.dispatch('uploads/upload', formDataOg); }
        if (this.fileTwitter) {
          twitterImg = await this.$store.dispatch(
            'uploads/upload',
            formDataTwitter
          );
        }
        const updatedData = {};
        if (this.jobUrl) updatedData.url = this.jobUrl;
        if (this.jobMetaTitle) updatedData.metaTitle = this.jobMetaTitle;
        if (this.jobMetaDesc) updatedData.metaDesc = this.jobMetaDesc;
        if (this.jobOgTitle) updatedData.ogTitle = this.jobOgTitle;
        if (this.jobOgDesc) updatedData.ogDesc = this.jobOgDesc;
        if (this.jobTwitterTitle) { updatedData.twitterTitle = this.jobTwitterTitle; }
        if (this.jobTwitterDesc) updatedData.twitterDesc = this.jobTwitterDesc;
        if (this.jobUrlOrigin) updatedData.jobUrlOrigin = this.jobUrlOrigin;
        if (this.jobName) updatedData.name = this.jobName;
        if (this.jobContent) updatedData.content = this.jobContent;
        if (this.minMonetary) updatedData.minMonetary = this.minMonetary;
        if (this.maxMonetary) updatedData.maxMonetary = this.maxMonetary;
        if (this.typeMonetary) updatedData.typeMonetary = this.typeMonetary;
        if (this.currency) updatedData.currency = this.currency;
        if (this.endAt) updatedData.endAt = this.endAt;
        if (this.studies) updatedData.studies = this.studies;
        if (this.jobStyle) updatedData.jobStyle = this.jobStyle;
        if (this.xP) updatedData.xP = this.xP;
        if (this.typeEnterprise) { updatedData.typeEnterprise = this.typeEnterprise; }
        if (this.nameEnterprise) { updatedData.nameEnterprise = this.nameEnterprise; }
        if (this.remote) updatedData.remote = this.remote;
        if (this.remoteAndSite) updatedData.remoteAndSite = this.remoteAndSite;
        if (this.remoteLocalizationAndSite) { updatedData.remoteLocalizationAndSite = this.remoteLocalizationAndSite; }
        if (this.softSkils) updatedData.softSkils = this.softSkils;
        if (this.hoursByWeek) updatedData.hoursByWeek = this.hoursByWeek;
        if (this.salaryCurrency) { updatedData.salaryCurrency = this.salaryCurrency; }
        if (logoFileEnterprise) { updatedData.articleImg = logoFileEnterprise.data; }
        if (ogImg) updatedData.ogImg = ogImg.data;
        if (twitterImg) updatedData.twitterImg = twitterImg.data;
        const modifyJob = await this.$store.dispatch('job/update', [
          this.jobId,
          updatedData
        ]);
        this.jobType = modifyJob.data.type;
        this.jobMessage = modifyJob.data.message;
      } catch (error) {
        this.jobType = error.type;
        this.jobMessage = error.message;
      }
    }
  }
};
</script>
<style lang="scss" scoped>
@import "~assets/scss/variables";

.containAllArticles {
  margin-top: 50px;
  h2 {
    margin-bottom: 30px;
  }
  .article {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid $attractive-color;
    cursor: pointer;

    .deleteButton {
      padding: 15px;
      font-weight: bold;
      letter-spacing: 1px;
      border-radius: 8px;
      border: 1px solid $main-color;
      width: 50%;
      margin: 15px auto;
    }
  }
  .containFormModify {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    input,
    textarea {
      margin-top: 15px;
      margin-bottom: 15px;
      width: 100%;
    }
  }
}
</style>
