<template>
  <div class="containAllArticles">
    <h2>Gestions des articles</h2>
    <div
      v-for="(article, index) in listArticles"
      :key="index"
      class="article"
    >
      <div class="containArticles">
        <p class="idArticle">
          id : {{ article.id }}
        </p>
        <p class="titleArticle">
          Nom : {{ article.name }}
        </p>
        <p class="urlArticle">
          Url : {{ article.url }}
        </p>
        <div
          class="deleteButton"
          @click="modifyOneArticle(article.id)"
        >
          Sélectionner l'article
        </div>
        <div
          class="deleteButton"
          @click="deleteOneArticle(article.id)"
        >
          Supprimer l'article
        </div>
      </div>
    </div>
    <div
      v-if="selectedArticleToModify"
      class="containFormModify"
    >
      <div
        v-if="articleType"
        :class="'alert ' + articleType"
      >
        {{ articleMessage }}
      </div>
      <input
        v-model="articleName"
        type="text"
        placeholder="Nom"
      >
      <input
        v-model="articleUrl"
        type="text"
        placeholder="Slug"
      >
      <label for="fileImg">Importer une image pour les réseaux sociaux</label>
      <input
        id="articleImg"
        ref="fileImg"
        type="file"
        name="fileImg"
        @change="selectFileImg"
      >
      <label for="fileImg">Contenu du message (format HTML)</label>
      <textarea
        v-model="articleContent"
        placeholder="Contenu de l'article"
        name="contentArticle"
      />
      <input
        v-model="articleMetaTile"
        type="text"
        placeholder="Meta Title"
      >
      <textarea
        v-model="articleMetaDesc"
        placeholder="Méta description de l'article"
      />
      <input
        v-model="articleOgTile"
        type="text"
        placeholder="Og Title"
      >
      <textarea
        v-model="articleOgDesc"
        placeholder="Og description de l'article"
      />
      <label for="fileOg">Importer une image pour les réseaux sociaux</label>
      <input
        id="articleOgImg"
        ref="fileOg"
        type="file"
        name="fileOg"
        @change="selectFileOg"
      >

      <input
        v-model="articleTwitterTile"
        type="text"
        placeholder="Twitter Title"
      >
      <textarea
        v-model="articleTwitterDesc"
        placeholder="Twitter description de l'article"
      />
      <label
        for="fileTwitter"
      >Importer une image pour les réseaux sociaux</label>
      <input
        id="articleTwitterImg"
        ref="fileTwitter"
        type="file"
        name="fileTwitter"
        @change="selectFileTwitter"
      >
      <input
        v-model="author"
        type="text"
        placeholder="Auteur (Prénom Nom)"
      >
      <div
        class="links"
        @click="modifyArticle"
      >
        Modifier l'article
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'UpdateBlogManagement',
  components: {},
  data: function () {
    return {
      articleId: 0,
      articleName: '',
      articleUrl: '',
      articleContent: '',
      articleMetaTile: '',
      articleMetaDesc: '',
      articleOgTile: '',
      articleOgDesc: '',
      articleTwitterTile: '',
      articleTwitterDesc: '',
      author: '',
      fileImg: null,
      fileOg: null,
      fileTwitter: null,
      articleType: null,
      articleMessage: null,
      selectedArticleToModify: false
    };
  },
  computed: {
    listArticles: function () {
      return this.$store.getters['blog/list'];
    }
  },
  mounted () {
    return this.$store
      .dispatch('blog/list')
      .then((result) => {})
      .catch((error) => {
        console.log(error);
      });
  },
  methods: {
    modifyOneArticle (id) {
      const articleToModify = this.$store.getters['blog/list'].filter(
        (elem) => elem.id === id
      )[0];
      this.articleId = articleToModify.id;
      this.articleName = articleToModify.name;
      this.articleUrl = articleToModify.url;
      this.articleContent = articleToModify.content;
      this.articleMetaTile = articleToModify.meta_title;
      this.articleMetaDesc = articleToModify.meta_desc;
      this.articleOgTile = articleToModify.og_title;
      this.articleOgDesc = articleToModify.og_description;
      this.articleTwitterTile = articleToModify.twitter_title;
      this.articleTwitterDesc = articleToModify.twitter_description;
      this.author = articleToModify.author;
      this.selectedArticleToModify = true;
    },
    async deleteOneArticle (id) {
      const articleToDelete = await this.$store.dispatch('blog/delete', id);
      this.articleType = articleToDelete.data.type;
      this.articleMessage = articleToDelete.data.message;
    },
    selectFileImg () {
      const file = this.$refs.fileImg.files[0];
      this.fileImg = file;
    },
    selectFileOg () {
      const file = this.$refs.fileOg.files[0];
      this.fileOg = file;
    },
    selectFileTwitter () {
      const file = this.$refs.fileTwitter.files[0];
      this.fileTwitter = file;
    },
    async modifyArticle () {
      let formDataImg, formDataOg, formDataTwitter;
      if (this.fileImg) {
        formDataImg = new FormData();
        formDataImg.append('file', this.fileImg);
      }
      if (this.fileOg) {
        formDataOg = new FormData();
        formDataOg.append('file', this.fileOg);
      }
      if (this.fileTwitter) {
        formDataTwitter = new FormData();
        formDataTwitter.append('file', this.fileTwitter);
      }
      try {
        let img, ogImg, twitterImg;
        if (this.fileImg) { img = await this.$store.dispatch('uploads/upload', formDataImg); }
        if (this.fileOg) { ogImg = await this.$store.dispatch('uploads/upload', formDataOg); }
        if (this.fileTwitter) {
          twitterImg = await this.$store.dispatch(
            'uploads/upload',
            formDataTwitter
          );
        }
        const updatedData = {};
        if (this.articleName) updatedData.name = this.articleName;
        if (this.articleUrl) updatedData.url = this.articleUrl;
        if (this.articleContent) updatedData.content = this.articleContent;
        if (this.articleMetaTile) updatedData.metaTitle = this.articleMetaTile;
        if (this.articleMetaDesc) updatedData.metaDesc = this.articleMetaDesc;
        if (this.articleOgTile) updatedData.ogTitle = this.articleOgTile;
        if (this.articleOgDesc) updatedData.ogDesc = this.articleOgDesc;
        if (this.articleTwitterTile) { updatedData.twitterTitle = this.articleTwitterTile; }
        if (this.articleTwitterDesc) { updatedData.twitterDesc = this.articleTwitterDesc; }
        if (img) updatedData.articleImg = img.data;
        if (ogImg) updatedData.ogImg = ogImg.data;
        if (twitterImg) updatedData.twitterImg = twitterImg.data;
        if (this.author) updatedData.author = this.author;
        const newArticle = await this.$store.dispatch('blog/update', [
          this.articleId,
          updatedData
        ]);
        this.articleType = newArticle.data.type;
        this.articleMessage = newArticle.data.message;
      } catch (error) {
        this.articleType = error.type;
        this.articleMessage = error.message;
      }
    }
  }
};
</script>
<style lang="scss" scoped>
@import "~assets/scss/variables";

.containAllArticles {
  margin-top: 50px;
  h2 {
    margin-bottom: 30px;
  }
  .article {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid $attractive-color;
    cursor: pointer;

    .deleteButton {
      padding: 15px;
      font-weight: bold;
      letter-spacing: 1px;
      border-radius: 8px;
      border: 1px solid $main-color;
      width: 50%;
      margin: 15px auto;
    }
  }
  .containFormModify {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    input,
    textarea {
      margin-top: 15px;
      margin-bottom: 15px;
      width: 100%;
    }
  }
}
</style>
