<template>
  <div class="">
    <h2>Gestions des utilisateurs</h2>
    <div class="containFormCreateUser">
      <div
        v-if="userType"
        :class="'alert ' + userType"
      >
        {{ userMessage }}
      </div>
      <input
        v-model="userToCreateEmail"
        type="email"
        placeholder="Email"
      >
      <input
        v-model="userToCreatePassword"
        type="password"
        placeholder="Password"
      >
      <div
        class="links"
        @click="createUser"
      >
        Ajouter
      </div>
    </div>
  </div>
</template>
<script>
export default {
  components: {},
  data: function () {
    return {
      userToCreateEmail: '',
      userToCreatePassword: '',
      userType: null,
      userMessage: null
    };
  },
  computed: {},
  methods: {
    createUser () {
      this.$store
        .dispatch('auth/create', {
          email: this.userToCreateEmail,
          password: this.userToCreatePassword
        })
        .then((result) => {
          this.userType = result.data.type;
          this.userMessage = result.data.message;
        })
        .catch((error) => {
          this.userType = error.data.type;
          this.userMessage = error.data.message;
        });
    }
  }
};
</script>
<style scoped></style>
