<template>
  <section class="container">
    <div class="formIntro">
      <h1 class="title">
        Contact
      </h1>
    </div>
    <div class="formContainer">
      <div class="formContactContainer cl-gap cl-md-1-2 cl-xs-1-1">
        <h2>Laissez-nous un message</h2>
        <transition name="slide-fade">
          <div
            v-if="
              messageName || messageSubject || messageEmail || messageMessage
            "
            :class="'alert ' + messageType"
          >
            <p>{{ messageName }}</p>
            <p>{{ messageSubject }}</p>
            <p>{{ messageEmail }}</p>
            <p>{{ messageMessage }}</p>
          </div>
        </transition>
        <transition name="slide-fade">
          <div
            v-if="finalMessage"
            :class="'alert ' + messageType"
          >
            <p>{{ finalMessage }}</p>
          </div>
        </transition>
        <form
          class="formContact"
          @submit.prevent
        >
          <label for="nom">Nom* : </label>
          <input
            id="nom"
            v-model="name"
            type="text"
            name="nom"
            required
            placeholder="Votre nom (Requis)"
          >
          <label for="email">Email* : </label>
          <input
            id="email"
            v-model="email"
            type="email"
            name="email"
            required
            placeholder="Votre Email (Requis)"
          >
          <label for="subject">Objet* : </label>
          <input
            id="subject"
            v-model="subject"
            type="text"
            name="subject"
            required
            placeholder="Objet (Requis)"
          >
          <label for="message">Message* : </label>
          <textarea
            id="message"
            v-model="message"
            name="message"
            required
            placeholder="Votre message (Requis)"
          />
          <button
            type="submit"
            @click="sendMail"
          >
            Envoyer
          </button>
        </form>
      </div>
      <div class="contactInfoContainer cl-gap cl-md-1-2 cl-xs-1-1">
        <div class="contact">
          <h2>Contacts</h2>
          <p>Vous souhaitez faire appel à nous pour un projet ?</p>
          <p>Vous souhaitez en savoir plus sur nous ou nos projets ?</p>
          <p>Vous souhaitez devenir un futur doper ?</p>
          <p>Vous souhaitez écrire un article sur notre blog ?</p>
        </div>
        <div class="adress">
          <h2>Adresse</h2>
          <ul>
            <li>
              <img
                src="~assets/img/place.svg"
                alt="Instagram Icon"
              >Région
              occitanie
            </li>
            <li>
              <img
                src="~assets/img/plane.png"
                alt="Instagram Icon"
              >
              <a
                class="mailLink"
                href="mailto:dev.DopaTech@gmail.com"
                rel="nofollow noreferrer noopener"
              >dev.DopaTech@gmail .com</a>
            </li>
          </ul>
        </div>
        <div class="socialMedia">
          <h2>Réseaux sociaux</h2>
          <div class="mediaIconsLogo">
            <a
              href="https://www.facebook.com/Dopa-Tech-104941904481833/"
              rel="nofollow noreferrer noopener"
              target="_blank"
            >
              <img
                src="~assets/img/facebook.png"
                alt="Facebook Icon"
                title="Facebook Icon"
              >
            </a>
            <a
              href="https://twitter.com/Dopa_Tech"
              rel="nofollow noreferrer noopener"
              target="_blank"
            >
              <img
                src="~assets/img/twitter.png"
                alt="Twitter Icon"
                title="Twitter Icon"
              >
            </a>
            <a
              href="https://www.linkedin.com/company/38161337/"
              rel="nofollow noreferrer noopener"
              target="_blank"
            >
              <img
                src="~assets/img/linkedin.png"
                alt="Linkedin Icon"
                title="Linkedin Icon"
              >
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
/* eslint-disable */
import { formatUrl } from '@/utils/betterUrl';
export default {
  name: 'Contact',
  components: {},
  data: function () {
    return {
      name: '',
      email: '',
      subject: '',
      message: '',
      messageType: '',
      messageName: '',
      messageSubject: '',
      messageEmail: '',
      messageMessage: '',
      finalMessage: ''
    };
  },
  watch: {
    name: function (val) {
      this.finalMessage = '';
      const { length } = val;
      if (!length) {
        this.messageType = 'error';
        this.messageName = 'Le champs nom ne peut être vide';
      } else if (length > 100) {
        this.messageType = 'error';
        this.messageName = 'Nom trop long';
      } else {
         this.messageName = '';
      }
    },
    email: function (val) {
      this.finalMessage = '';
      const reg = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      const { length } = val;
      if (!length) {
        this.messageType = 'error';
        this.messageEmail = 'Le champ email ne peut être vide';
      } else if (!reg.test(val)) {
        this.messageType = 'error';
        this.messageEmail = 'L\'adresse email n\'est pas valide';
      } else {
        this.messageEmail = '';
      }
    },
    subject: function (val) {
      this.finalMessage = '';
      const { length } = val;
      if (!length) {
        this.messageType = 'error';
        this.messageSubject = 'Le champ objet ne peut être vide';
      } else if (length > 200) {
        this.messageType = 'error';
        this.messageSubject = 'Objet du message trop long';
      } else {
        this.messageSubject = '';
      }
    },
    message: function (val) {
      this.finalMessage = '';
      const { length } = val;
      if (!length) {
        this.messageType = 'error';
        this.messageMessage = 'Le champ message ne peut être vide';
      } else if (length > 500) {
        this.messageType = 'error';
        this.messageMessage = 'Message trop long';
      } else {
        this.messageMessage = '';
      }
    }
  },
  methods: {
    async sendMail () {
      const reg = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      if (this.message.length && this.name.length && this.subject.length && this.email.length && !this.messageMessage.length && !this.messageName.length && !this.messageSubject.length && !this.messageEmail.length) {
        try {
          const dataToSend = {
            name: this.name,
            email: this.email,
            subject: this.subject,
            message: this.message
          };
          const email = await this.$store.dispatch('contact/sendMail', dataToSend);
          if (email) {
            this.messageType = email.data.type;
            this.finalMessage = email.data.message;
          }
        } catch (error) {
          this.messageType = error.data.type;
          this.finalMessage = error.data.message;
        }
      } else {
        if (!this.message.length) {
          this.messageType = 'error';
          this.messageMessage = 'Le champ message ne peut être vide';
        }
        if (!this.email.length) {
          this.messageType = 'error';
          this.messageEmail = 'Le champ email ne peut être vide';
        } 
        if (!this.name.length) {
          this.messageType = 'error';
          this.messageName = 'Le champ nom ne peut être vide';
        }
        if (!this.subject.length) {
          this.messageType = 'error';
          this.messageSubject = 'Le champ objet ne peut être vide';
        }
      }
    }  
  },
  head () {
    return {
      title: 'Dopa Tech | Développeur web junior Toulouse | Contact',
      meta: [
        { hid: 'description', name: 'description', content: 'Vous souhaitez faire appel à nous pour un projet ou pour devenir doper ? Ou simplement pour avoir des informations ? N\'hésitez pas, contactez-nous.' },
        { hid: 'og:url', property: 'og:url', name: 'og:url', content: formatUrl(process.env.NODE_ENV, process.env.PORT) + '/contact' },
        { hid: 'og:title', property: 'og:title', name: 'og:title', content: 'Dopa Tech | Développeur web junior Toulouse | Contact' },
        { hid: 'og:description', property: 'og:description', name: 'og:description', content: 'Vous souhaitez faire appel à nous pour un projet ou pour devenir doper ? Ou simplement pour avoir des informations ? N\'hésitez pas, contactez-nous.' },
        { hid: 'og:image', property: 'og:image', name: 'og:image', content: formatUrl(process.env.NODE_ENV, process.env.PORT) + '/imgSeo/dopa-tech-contact.jpg' },
        { hid: 'twitter:card', property: 'twitter:card', name: 'twitter:card', content: 'summary_large_image' },
        { hid: 'twitter:url', property: 'twitter:url', name: 'twitter:url', content: formatUrl(process.env.NODE_ENV, process.env.PORT) + '/contact' },
        { hid: 'twitter:title', property: 'twitter:title', name: 'twitter:title', content: 'Dopa Tech | Développeur web junior Toulouse | Contact' },
        { hid: 'twitter:description', property: 'twitter:description', name: 'twitter:description', content: 'Vous souhaitez faire appel à nous pour un projet ou pour devenir doper ? Ou simplement pour avoir des informations ? N\'hésitez pas, contactez-nous.' },
        { hid: 'twitter:image', property: 'twitter:image', name: 'twitter:image', content: formatUrl(process.env.NODE_ENV, process.env.PORT) + '/imgSeo/dopa-tech-contact.jpg' }
      ]
    };
  }
};
</script>

<style lang="scss" scoped>
@import '~assets/scss/pages/contact.scss';
</style>
