<template>
  <div class="container-fluid">
    <FullHeader
      title="Dopa Tech : développeur web junior Toulouse"
      image="/img/dopa-tech-embleme.jpg"
    />
    <div class="container">
      <div class="containerIntroHome">
        <div class="introHome">
          <h2 class="titleIntroHome">
            Qu’est-ce que Dopa Tech, Développeur web junior Toulouse ?
          </h2>
          <p class="subTitleIntroHome">
            Dopa Tech a été créée par un développeur web junior Toulouse. Pour
            lui le développement Web et l’informatique sont une passion, étape
            par étape il a voulu rassembler tous ceux qui sont développeur
            junior sur Toulouse. Leurs missions sont répartis dans différents
            domaines en allant du développement logiciel au développement web.
          </p>
          <p class="subTitleIntroHome">
            Ce site a pour but de mettre en avant le métier de développeur web
            junior, les Dopers ainsi que d’aider ceux-ci à s’épanouir et
            progresser dans leur métier à Toulouse.
          </p>
          <h2>Développeur web Junior Toulouse</h2>
          <p>
            Si vous vous identifiez au travers de ces termes, cet article va
            très probablement vous concerner. Et cela, que vous soyez dans
            n’importe laquelle de ces situations :
          </p>
          <ul>
            <li>
              Étudiant en formation initiale cherchant à en savoir plus sur
              comment se déroule l’après diplôme.
            </li>
            <li>
              Étudiant en alternance cherchant à s’améliorer et, si nécessaire,
              à trouver une future entreprise.
            </li>
            <li>
              Étudiant fraîchement diplômé étant à le recherche d’un premier ou
              d’un nouveau contrat.
            </li>
          </ul>
          <p>
            Ces dernières ne sont en vérité qu’une infime partie des situations
            possibles. Ne vous inquiétez pas, même si vous n’êtes pas concernés
            directement, cet article vous sera toujours utile.
          </p>
          <nuxt-link
            to="/blog/etre-developpeur-web-junior-toulouse"
            class="buttonSeeArticle"
          >
            En savoir plus !
          </nuxt-link>
        </div>
        <Top4Blog />
        <Top4Jobs />
        <div class="containerSkillsHome">
          <div
            v-for="(skill, indexS) in skillsContent"
            :key="indexS"
            class="skill cl-gap cl-xs-1-1 cl-md-1-2 cl-gap"
          >
            <div class="homeIconWrapper">
              <img
                :src="skill.image"
                alt="Star Icon"
              >
              <span>{{ skill.name }}</span>
            </div>
            <p>
              {{ skill.content }}
            </p>
          </div>
        </div>
      </div>
      <div class="containTSection">
        <div class="containContentTSection cl-xs-1-1 cl-md-1-2 cl-gap">
          <h2 class="titleSection titleSecondSection">
            Une expertise digitale 100% Toulousaine
          </h2>
          <div class="hrUnderTitleSection hrSecondSection" />
          <div class="containText">
            <p class="textTSection">
              Né à Toulouse autour d’une bière, Dopa Tech a une longue histoire
              de part ses nombreuses expériences, sa curiosité avec les
              nouveautés technologiques, mais également de part son implication
              dans différents événements. De la cartographie aux systèmes
              bancaires en passant par l’agriculture ou encore de l'IA à la page
              vitrine en passant par l'analyse, la blockchain et les
              applications basées sur le cloud, nous aidons nos clients d'une
              manière qui va bien au-delà des agences numériques
              traditionnelles.
            </p>
            <p class="textTSection">
              Être <b>développeur web junior Toulouse</b> ne se résume pas
              simplement à réaliser des solutions techniques. Le besoin des
              utilisateurs comme des clients est un facteur essentiel à prendre
              en compte pour la conception d'un projet. Le métier de développeur
              exige de mettre en place des solutions pérennes et donc par
              extension, apporter le support technique adéquat.
            </p>
            <nuxt-link
              to="/qui-sommes-nous"
              class="buttonDiscoverUs"
            >
              Nous découvrir
            </nuxt-link>
          </div>
        </div>
        <img
          src="~assets/img/dopa-tech-bureau-web.jpg"
          alt="Dopa Tech développeur web junior Toulouse bureau toulouse"
          title="Dopa Tech développeur web junior Toulouse bureau toulouse"
          class="imgCarte cl-gap cl-xs-1-1 cl-md-1-2"
        >
      </div>
      <div class="containTSection">
        <img
          src="~assets/img/dopa-tech-doper.jpg"
          alt="Dopa Tech développeur web junior Toulouse Doper"
          title="Dopa Tech développeur web junior Toulouse Doper"
          class="imgCarte cl-xs-1-1 cl-md-1-2 cl-gap"
        >
        <div class="containContentTSection cl-xs-1-1 cl-md-1-2 cl-gap">
          <h2 class="titleSection titleSecondSection">
            Les Dopers
          </h2>
          <div class="hrUnderTitleSection hrSecondSection" />
          <div class="containText">
            <p class="textTSection">
              Les Dopers sont un ensemble de freelance du monde du digital. Un
              Doper peut donc être développeur web junior Toulouse, graphiste,
              chef de projet, UI / UX designer, scrum master… Pour vous aider à
              trouver le ou les Dopers que vous souhaitez, ceux-ci sont réunis
              par catégorie. Un Doper peut avoir plusieurs compétences comme
              développeur web frontend et ux-designer. Un Doper peut être junior
              ou sénior. Chacun possède ses propres tarifs qui ne peuvent pas
              être renégocier.
            </p>
            <p class="textTSection">
              Chaque Doper est testé et validé par l’équipe de Dopa Tech. En
              tant que développeur web junior Toulouse pour devenir Doper, vous
              devrez réaliser un ensemble d’algorithme et d’exercice afin de
              valider votre niveau. En tant que Graphiste, vous devrez réaliser
              différents webdesign et illustration.
            </p>
            <nuxt-link
              to="/dopers"
              class="buttonDiscoverUs"
            >
              Découvrir le concept
            </nuxt-link>
          </div>
        </div>
      </div>
      <FaqHome />
      <SeoHome />
      <PreFooter />
    </div>
  </div>
</template>

<script>
import PreFooter from '~/components/skeleton/PreFooter.vue';
import Top4Blog from '~/components/pages/Top4Blog.vue';
import Top4Jobs from '~/components/pages/Top4Jobs.vue';
import FullHeader from '~/components/pages/FullHeader.vue';
import FaqHome from '~/components/pages/home/FaqHome.vue';
import SeoHome from '~/components/pages/home/SeoHome.vue';
import { formatUrl } from '@/utils/betterUrl';
export default {
  components: {
    FullHeader,
    PreFooter,
    Top4Blog,
    Top4Jobs,
    FaqHome,
    SeoHome
  },
  async fetch () {},
  data: function () {
    return {
      skillsContent: [
        {
          name: 'Performant',
          content:
            "Afin de garantir une solution logicielle pérenne, chaque développeur web junior Toulouse réalise une analyse des besoins afin de délimiter les spécifications techniques et utilise des technologies fiables, récentes et maîtrisées. En effet, de part de sa veille technologique, ses connaissances techniques restent constamment au goût du jour et conformes aux nomes W3c. Le fruit de cette veille sera profitable au travers d'une solution ergonomique, intuitive et 100% adaptée aux besoins du client.",
          image: '/img/heart.svg'
        },
        {
          name: 'Créatif',
          content:
            "Un projet web et donc par extension chaque page web de ce dernier, se doit d'avoir un design digne de ce nom. C'est essentiel. Notre processus de réflexion et de conception imprègne notre organisation et notre culture. Nos Doper, qu'ils soient concepteurs ou designers, font converger leurs compétences pour vous offrir des interfaces et une ergonomie axées sur l'expérience utilisateur. Ce travail combiné à celui du développeur web junior Toulouse permet d’offrir à nos clients des rendus finaux qualitatifs.",
          image: '/img/lamp.svg'
        },
        {
          name: 'Agile',
          content:
            "Nous avons optés pour une méthode de gestion de projet agile. Pour cela, il n'y a pas de chef de projet. Tout le monde apporte ses connaissances sur son ou ses domaines d'expertises. Nous avons mis en place des processus flexibles et agiles à tous les niveaux du projet. Ces derniers sont donc réalisés en toute transparence avec les clients et nos Dopers. Notre esprit d'équipe et notre expertise seront mis à votre disposition pour mener à bien vos projets, de la définition du périmètre à la mise en production de ce dernier.",
          image: '/img/medal.svg'
        },
        {
          name: 'Formations',
          content:
            "Constamment en train de se former, nos Doper (Développeur Web Junior Toulouse) cherchent continuellement à monter en compétences. Au travers d'un travail rigoureux de leur part, ces derniers s'améliorent de jour en jour sur différents langages de programmation et frameworks, afin de mener à bien vos projets web avec modernité. Nos formations, disponible ultérieurement dans une section prévue à cet effet, offrirons à nos Dopers une nouvelle source d'apprentissage. Cela sera donc, par extension, bénéfique pour vous, futurs partenaires.",
          image: '/img/bar-chart.svg'
        }
      ]
    };
  },
  computed: {},
  methods: {},
  head () {
    return {
      title: 'Développeur web junior Toulouse | Dopa Tech',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content:
            'Développeur web junior Toulouse Dopa tech, propose la mise en relation de Doper/s avec des clients dans le but de créer une relation pérenne'
        },
        {
          hid: 'og:url',
          property: 'og:url',
          name: 'og:url',
          content: formatUrl(process.env.NODE_ENV, process.env.PORT) + '/'
        },
        {
          hid: 'og:title',
          property: 'og:title',
          name: 'og:title',
          content: 'Dopa Tech | Développeur web junior Toulouse'
        },
        {
          hid: 'og:description',
          property: 'og:description',
          name: 'og:description',
          content:
            'Développeur web junior Toulouse Dopa tech, propose la mise en relation de Doper/s avec des clients dans le but de créer une relation pérenne'
        },
        {
          hid: 'og:image',
          property: 'og:image',
          name: 'og:image',
          content:
            formatUrl(process.env.NODE_ENV, process.env.PORT) +
            '/imgSeo/dopa-tech-miniature-robot.jpg'
        },
        {
          hid: 'twitter:card',
          property: 'twitter:card',
          name: 'twitter:card',
          content: 'summary_large_image'
        },
        {
          hid: 'twitter:url',
          property: 'twitter:url',
          name: 'twitter:url',
          content: formatUrl(process.env.NODE_ENV, process.env.PORT) + '/'
        },
        {
          hid: 'twitter:title',
          property: 'twitter:title',
          name: 'twitter:title',
          content: 'Dopa Tech | Développeur web junior Toulouse'
        },
        {
          hid: 'twitter:description',
          property: 'twitter:description',
          name: 'twitter:description',
          content:
            'Développeur web junior Toulouse Dopa tech, propose la mise en relation de Doper/s avec des clients dans le but de créer une relation pérenne'
        },
        {
          hid: 'twitter:image',
          property: 'twitter:image',
          name: 'twitter:image',
          content:
            formatUrl(process.env.NODE_ENV, process.env.PORT) +
            '/imgSeo/dopa-tech-miniature-robot.jpg'
        }
      ]
    };
  }
};
</script>
<style lang="scss" scoped>
@import "~assets/scss/pages/home.scss";
</style>
