<template>
  <div class="container">
    <div class="containText">
      <h1 class="title">
        Mentions Légales
      </h1>
      <p>
        Le site <nuxt-link to="/">
          https://dopa-tech.fr
        </nuxt-link> est édité
        par : <b>Dopa Tech</b>
      </p>
      <p>
        Responsable de la publication : <b>Dopa Tech</b><br>
        E-mail :
        <a href="mailto:dev.DopaTech@gmail.com">dev.DopaTech@gmail.com</a>
      </p>

      <h2>TOUS DROITS RÉSERVÉS</h2>
      <p>
        L’ensemble de ce site relève de la législation française et
        internationale sur le droit d’auteur et la propriété intellectuelle.
        Tous les droits de reproduction sont réservés, y compris pour des
        documents téléchargeables et les représentations iconographiques et
        photographiques.
      </p>

      <h2>INFORMATIQUE ET LIBERTÉS</h2>
      <p>
        Conformément aux lois en vigueur, les informations collectées par le
        biais de nos formulaires sont exclusivement communiquées à Dopa Tech et
        ne sont communiqués à aucun tiers. Les utilisateurs sont informés qu’ils
        disposent d’un droit d’accès, de modification, de rectification et de
        suppression des données qui les concernent (art. 34 et suivants de la
        loi du 06/01/78 » Informatique et Libertés). Pour exercer ce droit, il
        suffit d’en faire la demande à l’adresse suivante :
        service-client-numerique@pourlascience.fr
      </p>

      <h2>HÉBERGEMENT</h2>
      <p>GCP - Europe west (Belgique)</p>
      <h2>DÉVELOPPEMENT & MAINTENANCE :</h2>
      <p><b>Dopa Tech</b></p>

      <p>
        Ce site utilise Google Analytics pour analyser l’audience du site et
        améliorer son contenu. Pour plus d’informations, consultez les règles de
        confidentialité relatives à l’utilisation de Google Analytics
      </p>
    </div>
    <PreFooter />
  </div>
</template>

<script>
import PreFooter from '~/components/skeleton/PreFooter.vue';
export default {
  name: 'MentionsLegales',
  components: {
    PreFooter
  },
  head () {
    return {
      title: 'Mentions légales'
    };
  }
};
</script>

<style lang="scss" scoped>
@import "~assets/scss/variables";

.containText {
  width: 70%;

  h2 {
    margin-top: 30px;
  }

  p {
    margin-top: 15px;
  }

  a {
    color: $main-color;
    font-weight: bold;
  }
}
</style>
