<template>
  <div class="container">
    <div>
      <h1 class="title">
        Plan du site
      </h1>
      <div class="containRoutes">
        <h2>Pages</h2>
        <nuxt-link to="/">
          Accueil
        </nuxt-link>
        <nuxt-link to="/qui-sommes-nous">
          Qui sommes nous ?
        </nuxt-link>
        <nuxt-link to="/blog">
          Blog
        </nuxt-link>
        <nuxt-link to="/contact">
          Contact
        </nuxt-link>
        <nuxt-link to="/mentions-legales">
          Mentions légales
        </nuxt-link>
        <nuxt-link to="/plan-du-site">
          Plan du site
        </nuxt-link>
        <h2>Blog</h2>
        <nuxt-link
          v-for="(route, indexB) in listDynamics.blog"
          :key="indexB + '_blog'"
          :to="'/blog/' + route.url"
        >
          {{ "https://dopa-tech.fr/blog/" + route.url }}
        </nuxt-link>
        <h2>Jobs</h2>
        <nuxt-link
          v-for="(route, indexJ) in listDynamics.jobs"
          :key="indexJ + '_jobs'"
          :to="'/jobs/' + route.url"
        >
          {{ "https://dopa-tech.fr/jobs/" + route.url }}
        </nuxt-link>
      </div>
    </div>
    <PreFooter />
  </div>
</template>

<script>
import PreFooter from '~/components/skeleton/PreFooter.vue';
export default {
  name: 'PlanDuSite',
  components: {
    PreFooter
  },
  fetch ({ store }) {
    return store
      .dispatch('sitemap/list')
      .then((result) => {})
      .catch((error) => {
        console.log(error);
      });
  },
  data: function () {
    return {};
  },
  computed: {
    listDynamics: function () {
      return this.$store.getters['sitemap/list'];
    }
  },
  head () {
    return {
      title: 'Plan du site'
    };
  }
};
</script>

<style lang="scss" scoped>
@import "~assets/scss/variables";

.containRoutes {
  display: flex;
  flex-direction: column;

  h2 {
    margin-top: 30px;
  }

  a {
    font-weight: bold;
    color: #22093a;
    margin-top: 20px;
  }
}
</style>
