<template>
  <div
    class="headerContainer"
    :style="'background:url(' + image + ')'"
  >
    <div class="overlay" />
    <h1 class="title">
      {{ title }}
    </h1>
    <div class="scrollDown" />
  </div>
</template>
<script>
export default {
  name: 'FullHeader',
  components: {},
  props: ['title', 'image'],
  data: function () {
    return {};
  },
  computed: {},
  mounted () {},
  methods: {}
};
</script>
<style lang="scss" scoped>
@import "~assets/scss/components/pages/fullHeader.scss";
</style>
