<template>
  <div class="blogTitleHome">
    <h2>Nos derniers jobs</h2>
    <div class="hrUnderTitleSection" />
    <p class="littleTextAfterTitle">
      Tout développeur web junior à Toulouse sait que trouver le job qui lui
      correspond est un travail hardu. Entre mauvais contrat et mauvaise
      communication, il est dur de faire sa place. Nous avons donc décidé de
      mettre en place une section jobs sur la plateforme. Pour le moment nous
      nous concentrons sur des offres déstinées au métier de développeur web
      junior à Toulouse mais à terme nous posterons tous types d'offre. Ces
      offres sont récupérées sur des plateformes ou elles nous sont envoyées
      afin de les mettre en avant. À terme, les offres seront triées et
      selectionnées par une équipe dédiée de la Dopa Tech.
    </p>
    <div class="mainArticlesWrapper">
      <div
        v-for="(data, index) in lisTop4Job"
        :key="index"
        class="cardContainer cl-gap cl-xl-1-4 cl-lg-1-3 cl-md-1-2 cl-xs-1-1"
      >
        <div
          class="imageCardJob"
          :lazy-background="data.img"
        />
        <div class="descriptionCard">
          <p class="titleCard">
            {{ data.name }}
          </p>
          <nuxt-link
            :to="'/jobs/' + data.url"
            class="buttonSeeMore"
          >
            Voir le job
          </nuxt-link>
        </div>
      </div>
    </div>
    <div class="buttonSeeArticleWrapper" />
    <nuxt-link
      to="/jobs"
      class="buttonSeeArticle"
    >
      Voir tous les posts !
    </nuxt-link>
  </div>
</template>
<script>
export default {
  name: 'Top4Jobs',
  components: {},
  data: function () {
    return {};
  },
  computed: {
    lisTop4Job: function () {
      return this.$store.getters['job/getTop4'];
    }
  },
  async mounted () {
    await this.$store.dispatch('job/getTop4');
  },
  methods: {}
};
</script>
<style lang="scss" scoped>
@import "~assets/scss/components/pages/top4BlogJob.scss";
</style>
