<template>
  <div class="blogTitleHome">
    <h2>Nos dernières actualités</h2>
    <div class="hrUnderTitleSection" />
    <p class="littleTextAfterTitle">
      En tant que développeur web junior à Toulouse, nous souhaitons offrir aux
      autres développeurs des connaissances et des informations sur notre
      métier. C'est pourquoi chaque semaine, nous postons au moins un article. À
      terme nous posterons des articles pour tous les métiers du digital mais
      nous préférons commencer uniquement par le métier de développeur web
      junior à Toulouse.
    </p>
    <div class="mainArticlesWrapper">
      <div
        v-for="(data, index) in lisTop4Blog"
        :key="index"
        class="cardContainer cl-gap cl-xl-1-4 cl-lg-1-3 cl-md-1-2 cl-xs-1-1"
      >
        <div
          class="imageCard"
          :lazy-background="data.img"
        />
        <div class="descriptionCard">
          <p class="titleCard">
            {{ data.name }}
          </p>
          <nuxt-link
            :to="'/blog/' + data.url"
            class="buttonSeeMore"
          >
            Voir l'article
          </nuxt-link>
        </div>
      </div>
    </div>
    <div class="buttonSeeArticleWrapper" />
    <nuxt-link
      to="/blog"
      class="buttonSeeArticle"
    >
      Voir tous les articles !
    </nuxt-link>
  </div>
</template>
<script>
export default {
  name: 'Top4Blog',
  components: {},
  data: function () {
    return {};
  },
  computed: {
    lisTop4Blog: function () {
      return this.$store.getters['blog/getTop4'];
    }
  },
  async mounted () {
    await this.$store.dispatch('blog/getTop4');
  },
  methods: {}
};
</script>
<style lang="scss" scoped>
@import "~assets/scss/components/pages/top4BlogJob.scss";
</style>
